@charset "UTF-8";
* {
  box-sizing: border-box;
}

/*----- common -----*/
body {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, Verdana, sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #3D2F23;
  background-color: #fff;
}

@media (min-width: 765px) {
  body {
    font-size: 1rem;
  }
}
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header__wrap {
  height: 100%;
}
.header__btn-wrap {
  display: flex;
  height: 100%;
}

.header-logo {
  padding-left: 20px;
}
.header-logo__link {
  width: 100%;
  line-height: 1;
}
.header-logo__image {
  width: 150px;
}

@media (min-width: 765px) {
  .header__wrap {
    height: 100px;
  }
  .header-logo {
    padding-left: 40px;
  }
  .header-logo__image {
    width: 230px;
  }
}
/* -------------------------------------------- */
/* ナビメニュー */
/* -------------------------------------------- */
.sp-nav {
  display: none;
}

.sp-nav-list {
  font-size: 0.75rem;
}
.sp-nav-list__item {
  padding: 17px 20px;
  border-bottom: 1px solid #ccc;
}
.sp-nav-list__item:first-child {
  border-top: 1px solid #ccc;
}

.burger {
  width: 50px;
  position: relative;
  cursor: pointer;
  z-index: 3;
  background-color: #3D2F23;
}

.bar {
  width: 23px;
  height: 3px;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  display: inline-block;
}
.bar:nth-of-type(1) {
  top: 12px;
}
.bar:nth-of-type(2) {
  top: 20px;
}
.bar:nth-of-type(3) {
  top: 28px;
}
.bar:nth-of-type(3)::after {
  content: "Menu";
  position: absolute;
  top: 3px;
  left: -3px;
  color: #fff;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 700;
}

.burger.active .bar:nth-of-type(2) {
  opacity: 0;
}

.burger.active .bar:nth-of-type(1) {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 40%;
}

.burger.active .bar:nth-of-type(3) {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 40%;
}
.burger.active .bar:nth-of-type(3)::after {
  content: "Close";
  transform: translateY(0) rotate(-45deg);
  top: 6px;
  left: 4px;
}

.pc-nav {
  display: none;
  margin-right: 16px;
}

.pc-nav__btnWrap {
  display: flex;
  justify-content: flex-end;
}

.pc-nav-list {
  margin-top: 20px;
  font-weight: 700;
  margin-right: -16px;
}
.pc-nav-list__item {
  padding: 0 17px;
  position: relative;
  font-size: 0.875rem;
}
.pc-nav-list__item:not(:last-child)::after {
  content: "";
  width: 18px;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  right: -10px;
  background-color: #97C736;
  transform: rotate(140deg);
}

@media (min-width: 765px) {
  .burger {
    display: none;
  }
  .pc-nav {
    display: block;
  }
}
/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv {
  padding: 20px 20px 52px;
  position: relative;
}
.mv::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 120px;
  left: 0;
  z-index: -1;
  background: url(../images/24771547_l.png) center;
}
.mv__image {
  width: 100%;
}
.mv__copy {
  background-color: #23C7CE;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  font-size: 1.375rem;
  font-size: clamp(22px, 3vw, 40px);
}
.mv__copy-wrap.--sp {
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mv__copy-wrap.--sp .mv__copy {
  padding: 5px 8px;
  display: inline-block;
}
.mv__copy-wrap.--sp .mv__copy.--bottom {
  margin-top: 12px;
}
.mv__copy-wrap.--pc {
  display: none;
}
.mv__text {
  font-size: 0.75rem;
  font-size: clamp(12px, 3vw, 16px);
  padding: 32px 0;
}

@media (min-width: 765px) {
  .mv {
    padding: 10px 20px 52px;
    position: relative;
  }
  .mv::before {
    top: 54.5%;
    background: url(../images/mv-bg-pc.png) center;
  }
  .mv__text-wrap {
    width: 29.8682284041vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.9282576867vw 0 0.7320644217vw;
  }
  .mv .pc-cont {
    display: flex;
  }
  .mv__image {
    width: 64.4216691069vw;
  }
  .mv__copy-wrap.--sp {
    display: none;
  }
  .mv__copy-wrap.--pc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -22px;
  }
  .mv__copy-wrap.--pc .mv__copy {
    padding: 12px 24px;
    padding: 0.878477306vw 1.756954612vw;
  }
  .mv__copy-wrap.--pc .mv__copy.--center, .mv__copy-wrap.--pc .mv__copy.--bottom {
    margin-top: 24px;
  }
  .mv__text {
    font-size: 1rem;
    line-height: 1.8;
    padding: 5.8565153734vw 0px 2.3426061493vw 40px;
  }
}
/* -------------------------------------------- */
/* main */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* main */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* main */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* cta */
/* -------------------------------------------- */
.mask {
  display: block;
  line-height: 0;
  overflow: hidden;
}

.bgImage::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.l-image {
  width: 50%;
  height: 23.4666666667vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.l-image__text {
  color: #fff;
  border: 1px solid #fff;
  font-size: clamp(12px, 2vw, 32px);
  padding: 5px 12px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  z-index: 2;
}

.wide-image {
  position: relative;
}
.wide-image::before {
  border-radius: 8px;
}
.wide-image__wrap {
  margin-top: 80px;
}
.wide-image__text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.wide-image__text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 72px 24px;
}

.s-image {
  width: calc((100% - 41px) / 3);
  margin-top: 40px;
  position: relative;
}
.s-image::before {
  border-radius: 8px;
}
.s-image__text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.s-image__wrap {
  padding-bottom: 128px;
}
.s-image__text {
  color: #fff;
  padding: 38px 24px;
  font-size: 1rem;
}

@media (min-width: 765px) {
  .l-image {
    height: 23.4260614934vw;
  }
  .l-image__text {
    padding: 0.75em 1.25em;
  }
}
/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer__btn-wrap {
  padding: 32px 0 96px;
}
.footer__link-wrap {
  background-color: #3D2F23;
  color: #fff;
  padding: 20px 30px;
}

.footer__link--left {
  font-weight: 500;
  width: 50%;
}
.footer__link--center {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  display: none;
  padding-left: 16px;
}
.footer__link--right {
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
}

.footer-logo {
  width: 113px;
}

.footer-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.fb-icon {
  margin-right: 8px;
}

.footer-info {
  font-size: 0.625rem;
  transform: scale(0.7);
  transform-origin: 0%;
  white-space: nowrap;
  margin-top: 12px;
}

.footer-copy {
  font-size: 0.625rem;
  transform: scale(0.6);
  transform-origin: 100%;
  white-space: nowrap;
}

@media (min-width: 765px) {
  .footer__btn-wrap {
    padding: 32px 0 40px;
  }
  .footer__link-wrap {
    padding: 40px 40px;
  }
  .footer__link--left {
    width: auto;
    margin-right: 64px;
  }
  .footer__link--center {
    width: auto;
    display: block;
    font-size: 0.875rem;
    flex: auto;
  }
  .footer__link--right {
    width: auto;
    position: relative;
  }
  .footer-logo {
    width: 226px;
  }
  .footer-info {
    font-size: 0.875rem;
    transform: scale(1);
    margin-top: 24px;
  }
  .footer-link-title {
    margin-right: 64px;
  }
  .footer-nav-list {
    margin-right: 64px;
  }
  .footer-nav-list__item:not(:first-child) {
    margin-top: 24px;
  }
  .footer-icon {
    width: 40px;
    height: 40px;
  }
  .fb-icon {
    margin-right: 16px;
  }
  .footer-copy {
    font-size: 0.75rem;
    transform: scale(1);
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* Hover Event */
@media (hover: hover) {
  .cta-image {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  .l-image:hover .cta-image,
  .wide-image:hover .cta-image,
  .s-image:hover .cta-image {
    transform: scale(1.2);
  }
}/*# sourceMappingURL=styles.css.map */