@charset "UTF-8";
*{
  box-sizing: border-box;
}


/*----- common -----*/ 
@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #3D2F23;
$white: #fff;
$bgColor: #fffaeb;
$pink: #ea689a;
$yellow: #FAC017;
$skyblue: #23C7CE;
$skyblueHover: #1DB4BA;
$green: #97C736;
$greenHover: #83AC32;
$gray: #ccc;


body {
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, Verdana,sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(14);
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $textColor;
  background-color: #fff;
}

@media (min-width: 765px) {

  body {
    font-size: rem(16);
  }

}


/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  &__wrap{
    height: 100%;
  }
  
  &__btn-wrap{
    display: flex;
    height: 100%;
  }
}

//----- ロゴ -----
.header-logo{
  padding-left: 20px;

  &__link{
    width: 100%;
    line-height: 1;
  }

  &__image{
    width: 150px;
  }
}

@media (min-width: 765px) {
  .header{
    &__wrap{
      height: 100px;
    }
  }

  //-----ロゴ -----
  .header-logo{
    padding-left: 40px;

    &__image{
      width: 230px;
    }
  }

}

/* -------------------------------------------- */
/* ナビメニュー */
/* -------------------------------------------- */
//----- スマホ用ナビ -----
.sp-nav{
  display: none;
}

.header-link-wrap{

}

.sp-nav-list{
  font-size: rem(12);

  &__item{
    padding: 17px 20px;
    border-bottom: 1px solid $gray;

    &:first-child{
      border-top: 1px solid $gray;
    }
  }
}

// ハンバーガーメニュー 
.burger{
  width: 50px;
  position: relative;
  cursor: pointer;
  z-index: 3;
  background-color: $textColor;
}

.bar{
  width: 23px;
  height: 3px;
  border-radius: 6px;
  background-color: $white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s;
  display: inline-block;

  &:nth-of-type(1){
    top:12px;	
  }

  &:nth-of-type(2){
    top:20px;	
  }
  
  &:nth-of-type(3){
    top:28px;	

    &::after {
      content:"Menu";
      position: absolute;
      top: 3px;
      left: -3px;
      color: $white;
      font-size: rem(10);
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.burger.active .bar:nth-of-type(2){
  opacity: 0;
}

.burger.active .bar:nth-of-type(1){
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 40%;
}

.burger.active .bar:nth-of-type(3){
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 40%;

  &::after{
    content:"Close";
    transform: translateY(0) rotate(-45deg);
    top:6px;
    left:4px;
  }
}

//----- PC用ナビ -----
.pc-nav{
  display: none;
  margin-right: 16px;
}

.pc-nav__btnWrap{
  display: flex;
  justify-content: flex-end;
}

.pc-nav-list{
  margin-top: 20px;
  font-weight: 700;
  margin-right: -16px;

  &__item{
    padding: 0 17px;
    position: relative;
    font-size: rem(14);

    &:not(:last-child)::after{
      content: "";
      width: 18px;
      height: 1px;
      display: block;
      position: absolute;
      top: 50%;
      right: -10px;
      background-color: $green;
      transform:rotate(140deg)
    }
  }
}

@media (min-width: 765px) {
  .burger{
    display: none;
  }

  //----- PC用ナビ -----
  .pc-nav{
    display: block;
  }

}

/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv{
  padding: 20px 20px 52px;
  position: relative;

  // 背景
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    z-index: -1;
    background: url(../images/24771547_l.png) center;
  }

  &__image{
    width: 100%;
  }

  &__copy{
    background-color: $skyblue;
    color:$white;
    font-weight: 500;
    line-height: 1;
    font-size: rem(22);
    font-size: clamp(22px,3vw,40px);
  }

  &__copy-wrap{
    
    &.--sp{
      margin-top: -60px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      .mv__copy{
        padding: 5px 8px;
        display: inline-block;
  
        &.--bottom{
          margin-top: 12px;
        }
      }
    }

    &.--pc{
      display: none;
    }
  }
  

  &__text{
    font-size: rem(12);
    font-size: clamp(12px, 3vw,16px);
    padding: 32px 0;
  }
}

@media (min-width: 765px) {
  .mv{
    padding: 10px 20px 52px;
    position: relative;
  
    // 背景
    &::before{
      top: 54.5%;
      background: url(../images/mv-bg-pc.png) center;
    }

    &__text-wrap{
      width: calc(408/1366*100vw);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: calc(40/1366*100vw) 0 calc(10/1366*100vw);
    }
  
    .pc-cont{
      display: flex;
    }

    &__image{
      width: calc(880/1366*100vw);
    }

    &__copy{

    }
  
    &__copy-wrap{
      
      &.--sp{
        display: none;
      }
  
      &.--pc{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -22px;

        .mv__copy{
          padding: 12px 24px;
          padding: calc(12/1366*100vw) calc(24/1366*100vw);
    
          &.--center,
          &.--bottom{
            margin-top: 24px;
          }
        }
      }
    }
  
    &__text{
      font-size: rem(16);
      line-height: 1.8;
      padding: calc(80/1366*100vw) 0px calc(32/1366*100vw) 40px;
    }
  }

}

/* -------------------------------------------- */
/* main */
/* -------------------------------------------- */

@media (min-width: 765px) {


}

/* -------------------------------------------- */
/* main */
/* -------------------------------------------- */

@media (min-width: 765px) {


}

/* -------------------------------------------- */
/* main */
/* -------------------------------------------- */

@media (min-width: 765px) {


}

/* -------------------------------------------- */
/* cta */
/* -------------------------------------------- */
.cta{

}

//hoverで拡大用
.mask{
  display: block;
  line-height: 0;
  overflow: hidden;
}

.bgImage{
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

//大きいイメージ
.l-image{
  width: 50%;
  height: calc(88/375*100vw);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__text{
    color:$white;
    border: 1px solid $white;
    font-size: clamp(12px,2vw,32px);
    padding: 5px 12px;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    z-index: 2;
  }
}


//横長のイメージ
.wide-image{
  position: relative;

  &::before{
    border-radius: 8px;
  }
  
  &__wrap{
    margin-top: 80px;
  }

  &__text-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  &__text{
    color:$white;
    font-size: rem(24);
    font-weight: 700;
    padding: 72px 24px;
  }
}

//小さいイメージ
.s-image{
  width: calc((100% - 41px )/3);
  margin-top: 40px;
  position: relative;
  &::before{
    border-radius: 8px;
  }

  &__text-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  &__wrap{
    padding-bottom: 128px;
  }

  &__text{
    color:$white;
    padding: 38px 24px;
    font-size: rem(16);
  }
}


@media (min-width: 765px) {
  .cta{

  }

  //大きいイメージ
  .l-image{
    height: calc(320/1366*100vw);

    &__text{
      padding: 0.75em 1.25em;
    }
  }
}

/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{
  &__btn-wrap{
    padding: 32px 0 96px;
  }

  &__link-wrap{
    background-color: $textColor;
    color:$white;
    padding: 20px 30px;
  }
}

.footer__link{
  &--left{
    font-weight: 500;
    width: 50%; 
  }
  
  &--center{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
    padding-left: 16px;
    
  }
  
  &--right{
    align-items: flex-end;
    justify-content: space-between;
    width: 50%;
  }
}

.footer-logo{
  width: 113px;
}

.footer-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
}

.fb-icon{
  margin-right: 8px;
}

.footer-info{
  font-size: rem(10);
  transform: scale(0.7);
  transform-origin: 0%;
  white-space: nowrap;
  margin-top: 12px;
}

.footer-copy{
  font-size: rem(10);
  transform: scale(0.6);
  transform-origin: 100%;
  white-space: nowrap;
}


@media (min-width: 765px) {
  .footer{
    &__btn-wrap{
      padding: 32px 0 40px;
    }
  
    &__link-wrap{
      padding: 40px 40px;
    }
  }
  
  .footer__link{
    &--left{
      width: auto;
      margin-right: 64px;
    }
    
    &--center{
      width: auto;
      display: block;
      font-size: rem(14);
      flex: auto;
    }
    
    &--right{
      width: auto;
      position: relative;
    }
  }
  
  .footer-logo{
    width: 226px;
  }

  .footer-info{
    font-size: rem(14);
    transform: scale(1);
    margin-top: 24px;
  }

  .footer-link-title{
    margin-right: 64px;
  }

  .footer-nav-list{
    margin-right: 64px;

    &__item{
      &:not(:first-child){
        margin-top: 24px;
      }
    }
  }

  .footer-icon{
    width: 40px;
    height: 40px;
  }
  
  .fb-icon{
    margin-right: 16px;
  }
  
  .footer-copy{
    font-size: rem(12);
    transform: scale(1);
    position: absolute;
    right: 0;
    bottom: 0;
  }

}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){
  .cta-image{
    transform: scale(1);
    transition: transform .3s ease-in-out;
  }
  
  .l-image:hover .cta-image,
  .wide-image:hover .cta-image,
  .s-image:hover .cta-image{
    transform: scale(1.2);
  }




}



