@charset "UTF-8";
*{
  box-sizing: border-box;
}

/*----- reset -----*/
body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
	height: auto;
  vertical-align: bottom;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

header,main,section,footer, div, ul, li, h1,h2,h3,dl,dt,dd{
  // background-color: rgba(0,200,100,0.1);
  // border: 1px solid rgba(0,0,0,0.1);
}

/*----- common -----*/ 
@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #3D2F23;
$white: #fff;
$cream: #fffaeb;
$pink: #ea689a;
$yellow: #FAC017;
$skyblue: #23C7CE;
$skyblueHover: #1DB4BA;
$green: #97C736;
$greenHover: #83AC32;
$gray: #ccc;
$brown: #A07907;

.bg-cream{
  background-color: $cream;
}

.bg-brown{
  background-color: $brown;
}

.inner{
  margin: 0 auto;
  width: 100%;
  // background-color: rgba(241,92,168,0.2);
  border: 1px dotted #333;

  &.--l{
    max-width: 1040px;
    padding: 0 20px;
  }

  &.--xl{
    max-width: 1320px;
    padding: 0 20px;
  }
}


.pc-only{
  display: none;
}

//+マーク
.plus{
  // position: relative;
}

.icon-wrap {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translatey(-50%);
  border: 1px solid $white;
  border-radius: 50%;

  &.--l{
    width: 38px;
    height: 38px;
  }
  
  &.--s{
    width: 32px;
    height: 32px;
  }

  &.--ss{
    width: 20px;
    height: 20px;
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.icon:before,
.icon:after {
  position: absolute;
  content: "";
  display: block;
  transition: all 0.4s;
  background: #fff;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 2px;
  transform: translate(-50%, -50%);
}
.icon:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

/*----- flex -----*/
.flex{
  display: flex;

  &.--fdr{
    flex-direction: row;
  }

  &.--fdc{
    flex-direction: column;
  }

  &.--wrap{
    flex-wrap: wrap;
  }

  &.--aic{
    align-items: center;
  }

  &.--jcsb{
    justify-content: space-between;
  }

  &.--jcc{
    justify-content: center;
  }

  &.--rev{
    flex-direction: column-reverse;
  }
}

.bold{
  font-weight: 700;
}

@media (min-width: 765px) {
  .sp-only{
    display: none;
  }

  .pc-only{
    display: block;
  }

  //+マーク
  .icon-wrap {

    &.--ss{
      width: 32px;
      height: 32px;
    }
  }
}


/* -------------------------------------------- */
/* 余白関連 */
/* -------------------------------------------- */
//section間の余白
.sec-pad{
  border: 1px solid #000;
  padding-top: 52px;
  padding-bottom: 52px;
}

.mt40{
  margin-top: 40px;
}

.mt104{
  margin-top: 104px;
}

.mr20{
  margin-right: 20px;
}

@media (min-width: 765px) {
  .sec-pad{
    padding-top: 104px;
    padding-bottom: 104px;
  }
}

/* -------------------------------------------- */
/* 見出し */
/* -------------------------------------------- */
//セクションの見出し
.sec-heading{
  position: relative;
  margin-bottom: 1em;
  font-size: rem(18);
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 43px;
  
  &::before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 32px;
    height: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: $skyblue;
    border-radius: 2px;
  }
}

//---------- 下層ページの見出し ---------
.page-mv{
  background: #ddd;
  width: 100%;
  padding: calc(36/375*100vw) calc(20/375*100vw);
  
  &.--voice{
    background: url(../images/voice-bg.jpg) center/cover no-repeat;
  }
}

.page-heading{
  font-size: rem(20);
  padding: 1em;
  max-width: 335px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
}

.br--sp-only{
  display: block;
}
.br--pc-only{
  display: none;
}

@media (min-width: 765px){
  .sec-heading{
    font-size: rem(36);
    margin-bottom: 92px;
    
    &::before {
      width: 64px;
    }
  }

  //下層ページの見出し
  .page-mv{
    padding: 72px 20px;
  }

  .page-heading{
    font-size: rem(40);
    max-width: 690px;
  }

  .br--sp-only{
    display: none;
  }
  .br--pc-only{
    display: block;
  }
}
/* -------------------------------------------- */
/* ボタン */
/* -------------------------------------------- */

//中央配置用
.btn-wrap{
  text-align: center;
}

.btn{
  background-color: $green;
  color:$white;
  line-height: 1;
  font-weight: 900;
  display: inline-block;

  &.--nouhuku{
    font-size: rem(16);
    padding: 15px 20px;
  }
  
  &.--more{
    font-size: rem(16);
    padding: 14px 18px;
  }

  &.--confirm{

  }
}

//ボタン用余白
.mt20{
  margin-top: 20px;
}

//ボーダー付きリンク
.link--border{
  text-decoration: underline;
}

//-------- headerのボタン ------
.header-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 10px 8px;
  font-weight: 700;
  font-size: 10px;

  &__text{
    margin-top: 8px;
  }
}

.header-btn__icon{
  width: 14px;
  height: 14px;
}

.siryou-btn{
  background-color: $skyblue;
  color: $white;
}

.contact-btn{
  background-color: $green;
  color: $white;
}

//-------- スマホ用メニューのボタン ------
.spMenuBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  font-weight: 400;
  line-height: 1;
  width: 158px;
  padding: 12px;

  &__wrap{
    padding: 0px 20px;
    margin-top: 32px;

    .spMenuBtn:first-child{
      margin-right: 20px;
    }
  }

  &__icon{
    margin-right: 8px;
    width: 24px;
  }

  &__text{
    font-size: rem(16);
  }
}

//-------- footerのボタン(バナー) ------
.footer-btn{
  width: 110px;
}

.seiden-logo{
  margin-right: 20px;
}

//-------- topへ戻るボタン ------
.toTop{
  width: 44px;
  height: 44px;
  position: fixed;
  right: 20px;
  bottom: 1%;
  background: $green;

  a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    &::before{
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f106';
      font-size: 25px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}



@media (min-width: 765px) {
  .btn{
  
    &.--nouhuku{
      font-size: rem(24);
      padding: 20px 40px;
    }
    
    &.--more{
      font-size: rem(24);
      padding: 20px 40px;
    }
  
    &.--confirm{
  
    }
  }

  //ボタン用余白
  .mt20{
    margin-top: 40px;
  }


  //-------- headerのボタン ------
  .header-btn{
    font-size: 16px;
    padding: 16px;
    
    &__text{
      margin-top: 16px;
    }
  }

  .siryou-btn{
    min-width: 98px;
  }

  .contact-btn{
    min-width: 132px;
  }

  .header-btn__icon{
    width: 28px;
    height: 28px;
  }

  //-------- PC用メニューのボタン(上の２つ) ------
  .pcMenuBtn{
    border: 1px solid $green;
    background-color: #fff;
    padding: 8px 16px;
    display: inline-block;
    font-size: rem(12);
    font-weight: 500;
    line-height: 1;
  
    &:first-child{
      margin-right: 16px;
    }
  }

  //-------- footerのボタン(バナー) ------
  .footer-btn{
    width: 220px;
  }
  
  .seiden-logo{
    margin-right: 40px;
  }

  //-------- topへ戻るボタン ------
  .toTop{
    width: 64px;
    height: 64px;
    right: 40px;
  
    a{
      &::before{
        font-size: 32px;
      }
    }
  }

}

/* -------------------------------------------- */
/* パーツ */
/* -------------------------------------------- */
//---------- カードリスト ---------
.card-list{
  margin-top: -20px;

  &__item{
    width: calc((100% - 15px)/2);
    margin-top: 20px;
  }

  &__thumb{
    position: relative;
  }
  
  &__image{
    aspect-ratio: 320/200;
    object-fit: cover;
  }

  &__label{
    font-size: rem(10);
    transform: scale(0.8);
    transform-origin: 0;
    background: $yellow;
    font-weight: 700;
    padding: 3px 5px;
    display: inline-block;
    position: absolute;
    right: -9%;
    bottom: -11%;
  }

  &__heading{
    font-size: rem(12);
    margin-top: 21px;
  }
  
  &__desc{
    font-size: rem(12);
    padding: 12px 0;
    border-bottom: 1px solid #dddddd;
  }

  &__cat{
    font-size: rem(10);
    color:#777777;
    margin-top: 12px;
  }

  &__icon{
    width: 15px;
    margin-right: 8px;
  }
}

//---------- 数字付きリスト ---------
.numbered-list{

  &__item{

  }

  &__icon{
    background-color: $skyblue;
    color: $white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1;

    .flow-list__icon-title{
      font-size: rem(10);
      transform: scale(0.7);
    }

    .flow-list__icon-num{
      font-size: rem(16);
    }
  }

  &__title{
    font-weight: 700;
    font-size: rem(12);

  }

  &__answer{
    font-size: rem(12);
    margin-top: 18px;
  }

  &__body{
    padding-left: 12px;
    padding-top: 12px;
    flex: 1;
  }
}


@media (min-width: 765px){
  //---------- カードリスト ---------
  .card-list{
    margin-top: -60px;

    &__item{
      width: calc((100% - 86px)/3);
      margin-top: 60px;
    }

    &__label{
      font-size: rem(12);
      transform: scale(1);
      padding: 6px 16px;
      right: 0%;
      bottom: -4%;
    }

    &__heading{
      font-size: rem(16);
      margin-top: 24px;
    }
    
    &__desc{
      font-size: rem(16);
      padding: 5px 0 24px;
    }

    &__cat{
      margin-top: 14px;
    }

    &__icon{
      width: 16px;
      margin-right: 4px;
    }
  }

  //---------- 数字付きリスト ---------
  .numbered-list{
  
    &__item{
  
    }
  
    &__icon{
      width: 70px;
      height: 70px;
  
      .flow-list__icon-title{
        font-size: rem(14);
        transform: scale(1);
      }
  
      .flow-list__icon-num{
        font-size: rem(32);
      }
    }
  
    &__title{
      font-size: rem(24);
    }
  
    &__answer{
      font-size: rem(16);
      margin-top: 24px;
    }
  
    &__body{
      padding-left: 24px;
      padding-top: 24px;
      flex: 1;
    }
  }




}



/* -------------------------------------------- */
/* Voiceページ共通 */
/* -------------------------------------------- */
.voice{

  &__heading-cont{
    border-bottom: 1px dashed $green;
    padding-bottom: 12px;
  }

  &__heading{
    font-size: rem(16);
  }

  &__wrap{
    border: 3px solid $green;
    padding: 16px 16px 32px;
  }
  
  &__name{
    font-size: rem(12);
    font-weight: 700;
    margin-top: 10px;
    white-space: nowrap;
    text-align: right;
  }

  &__link-wrap{
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
  }

  &__link{
    font-size: rem(10);
    transform: scale(0.7);
    transform-origin: 100%;
  }
}

//---------- アイコン付きタイトル ---------
.iconed-heading{

  &::before{
    content:"" ;
    width: 24px;
    height: 24px;
    display: block;
    background: url(../images/voice-icon.png) no-repeat center/cover;
    margin-right: 8px;
  }
}

//---------- voiceの質問と答えのリスト ---------
//緑色のタイトル
.heading--green{
  color: $green;
}

.voice-qaa-list{
  font-size: rem(12);

  &__item{
    margin-top: 20px;
  }

  &__item:not(:first-child){
    margin-top: 32px;
  }

  &__title{
    font-size: rem(12);
    margin-top: 32px;

    &.--first{
      margin-top: 32px;
    }
  }
  
  &__question{
    font-weight: 700;
  }

  &__answer{
    margin-top: 12px;
  }

  &__image{
    margin: 32px auto 0;
    width: 77%;
    max-width: 600px;

    img{
      aspect-ratio: 225/141;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//----------  ページネーション ----------
.post-navigation{

  // リンクの枠 
  .nav-links{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  .nav-previous,
  .nav-next{
    background: $green;
    width: 44px;
    height: 44px;
    position: relative;

    a{
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    //矢印
    .navigation-arrow{
      width: 11px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//voiceページの一覧へ戻るボタン
.btn.--return{
  padding: 16px 20px;
  font-size: rem(12);
}

@media (min-width: 765px){
  .voice{
    &__heading-cont{
      padding-bottom: 20px;
    }

    &__heading{
      font-size: rem(32);
    }
  
    &__wrap{
      padding: 28px 40px 64px;
    }
    
    &__name{
      font-size: rem(16);
      margin-top: 0px;
    }
  
    &__link-wrap{
      margin-top: 12px;
    }
  
    &__link{
      font-size: rem(12);
      transform: scale(1);
    }
  }

  //---------- アイコン付きタイトル ---------
  .iconed-heading{

    &::before{
      width: 48px;
      height: 48px;
      margin-right: 16px;
    }
  }

  //---------- voiceの質問と答えのリスト ---------
  .voice-qaa-list{
    font-size: rem(16);

    &__item{
      margin-top: 40px;
    }

    &__item:not(:first-child){
      margin-top: 40px;
    }

    &__title{
      font-size: rem(24);
      margin-top: 64px;

      &.--first{
        margin-top: 48px;
      }
    }

    &__answer{
      margin-top: 24px;
      padding: 0 16px;
    }

    &__image{
      margin: 40px auto 0;
    }
  }

  //----------  ページネーション ----------
  .post-navigation{

    // リンクの枠 
    .nav-links{
      margin-top: 64px;
    }

    .nav-previous,
    .nav-next{
      width: auto;
      height: auto;

      a{
        color:$white;
        padding: 20px 40px;
        font-size: rem(24);
        font-weight: 700;
        line-height: 1;
      }
    }
  }

  //voiceページの一覧へ戻るボタン
  .btn.--return{
    padding: 20px 40px;
    font-size: rem(24);
  }

}







/*-------------  Hover Event ------------ */
@media (hover: hover){
  //ボタン、voiceページの前へ、次へボタン
  .btn,
  .nav-previous,
  .nav-next{
    &:hover{
      background: $greenHover;
    }
  }

  .seiden-logo,
  .social_house-logo{
    transition: opacity .4s;
    &:hover{
      opacity: .6;
    }
  }

  .footer-nav-list__link{
    transition: text-decoration .4s;

    &:hover{
      text-decoration: underline $white;
    }
  }

  .cta-image{
    transform: scale(1);
    transition: transform .3s ease-in-out;
  }
  
  .l-image:hover .cta-image,
  .wide-image:hover .cta-image,
  .s-image:hover .cta-image{
    transform: scale(1.2);
  }




}