@charset "UTF-8";
* {
  box-sizing: border-box;
}

/*----- reset -----*/
body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: rgba(61, 47, 35, 0.3);
}

body {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, Verdana, sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #3D2F23;
  background-color: #fff;
}

@media (min-width: 765px) {
  body {
    font-size: 1rem;
    line-height: 1.8;
  }
}
.bold {
  font-weight: 700;
}

.bg-cream {
  background-color: #fffaeb;
}

.bg-brown {
  background-color: #A07907;
}

.link--border {
  text-decoration: underline;
}

.inner {
  margin: 0 auto;
  width: 100%;
}
.inner.--l {
  max-width: 1040px;
  padding: 0 20px;
}
.inner.--xl {
  max-width: 1320px;
  padding: 0 20px;
}

.pc-only {
  display: none;
}

.icon-wrap {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translatey(-50%);
  border: 1px solid #fff;
  border-radius: 50%;
}
.icon-wrap.--l {
  width: 38px;
  height: 38px;
}
.icon-wrap.--s {
  width: 32px;
  height: 32px;
}
.icon-wrap.--ss {
  width: 20px;
  height: 20px;
}

.icon {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.icon:before,
.icon:after {
  position: absolute;
  content: "";
  display: block;
  transition: all 0.4s;
  background: #fff;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 2px;
  transform: translate(-50%, -50%);
}

.icon:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.page-lead-common {
  font-size: 0.75rem;
}

/*----- flex -----*/
.flex {
  display: flex;
}
.flex.--fdr {
  flex-direction: row;
}
.flex.--fdc {
  flex-direction: column;
}
.flex.--wrap {
  flex-wrap: wrap;
}
.flex.--ais {
  align-items: flex-start;
}
.flex.--aic {
  align-items: center;
}
.flex.--jcsb {
  justify-content: space-between;
}
.flex.--jcc {
  justify-content: center;
}
.flex.--rev {
  flex-direction: column-reverse;
}

.bold {
  font-weight: 700;
}

@media (min-width: 765px) {
  .sp-only {
    display: none;
  }
  .pc-only {
    display: block;
  }
  .icon-wrap.--ss {
    width: 32px;
    height: 32px;
  }
  .page-lead-common {
    font-size: 1rem;
    line-height: 1.8;
  }
}
/* -------------------------------------------- */
/* 余白関連 */
/* -------------------------------------------- */
.sec-pad {
  padding-top: 52px;
  padding-bottom: 52px;
}

.mt40 {
  margin-top: 40px;
}

.mt104 {
  margin-top: 104px;
}

.mr20 {
  margin-right: 20px;
}

@media (min-width: 765px) {
  .sec-pad {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}
/* -------------------------------------------- */
/* 見出し */
/* -------------------------------------------- */
.sec-heading {
  position: relative;
  margin-bottom: 1em;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 43px;
}
.sec-heading::before {
  content: "";
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 32px;
  height: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #23C7CE;
  border-radius: 2px;
}

.page-mv {
  background: #ddd;
  width: 100%;
  padding: 9.6vw 5.3333333333vw;
}
.page-mv.--voice {
  background: url(../images/voice-bg.jpg) center/cover no-repeat;
}
.page-mv.--zenkoku {
  background: url(../images/zenkoku-bg.png) center/cover no-repeat;
}
.page-mv.--history {
  background: url(../images/history-bg.png) center/cover no-repeat;
}
.page-mv.--noufukurenkei {
  background: url(../images/noufukurenkei-bg.png) center/cover no-repeat;
}
.page-mv.--howto {
  background: url(../images/howto-bg.png) center/cover no-repeat;
}
.page-mv.--event {
  background: url(../images/event-bg.jpg) center/cover no-repeat;
}
.page-mv.--faq {
  background: url(../images/faq-bg.png) center/cover no-repeat;
}
.page-mv.--contact {
  background: url(../images/contact-bg.png) center/cover no-repeat;
}
.page-mv.--report {
  background: url(../images/report-bg.png) center/cover no-repeat;
}

.page-heading {
  font-size: 1.25rem;
  padding: 1em;
  max-width: 335px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
}

.br--sp-only {
  display: block;
}

.br--pc-only {
  display: none;
}

@media (min-width: 765px) {
  .sec-heading {
    font-size: 2.25rem;
    margin-bottom: 92px;
  }
  .sec-heading::before {
    width: 64px;
  }
  .page-mv {
    padding: 72px 20px;
  }
  .page-heading {
    font-size: 2.5rem;
    max-width: 690px;
  }
  .br--sp-only {
    display: none;
  }
  .br--pc-only {
    display: block;
  }
}
/* -------------------------------------------- */
/* ボタン */
/* -------------------------------------------- */
.btn-wrap {
  text-align: center;
}

.btn {
  background-color: #97C736;
  color: #fff;
  line-height: 1;
  font-weight: 900;
  display: inline-block;
}
.btn.--nouhuku {
  font-size: 1rem;
  padding: 15px 20px;
}
.btn.--more {
  font-size: 1rem;
  padding: 14px 18px;
}
.btn.--confirm {
  font-size: 1rem;
  padding: 14px 20px;
}
.btn.--thanks {
  font-size: 1rem;
  padding: 14px 36px;
}

.mt20 {
  margin-top: 20px;
}

.header-btn {
  padding: 10px 2px;
  font-weight: 700;
  border-right: 1px #fff solid;
  line-height: 1;
  text-align: center;
}
.header-btn__text {
  font-size: 0.625rem;
  transform: scale(0.8);
  display: inline-block;
  background-color: #fc2;
}
.header-btn__icon {
  margin-bottom: 2px;
  width: 14px;
  height: 14px;
}

.siryou-btn {
  background-color: #23C7CE;
  color: #fff;
}

.contact-btn {
  background-color: #97C736;
  color: #fff;
}

.spMenuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  font-weight: 400;
  line-height: 1;
  width: 158px;
  padding: 12px;
}
.spMenuBtn__wrap {
  padding: 0px 20px;
  margin-top: 32px;
}
.spMenuBtn__wrap .spMenuBtn:first-child {
  margin-right: 20px;
}
.spMenuBtn__icon {
  margin-right: 8px;
  width: 24px;
}
.spMenuBtn__text {
  font-size: 1rem;
}

.footer-btn {
  width: 110px;
}

.seiden-logo {
  margin-right: 20px;
}

.toTop {
  width: 44px;
  height: 44px;
  position: fixed;
  right: 20px;
  bottom: 1%;
  background: #97C736;
}
.toTop a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.toTop a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f106";
  font-size: 25px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 765px) {
  .btn.--nouhuku {
    font-size: 1.5rem;
    padding: 20px 40px;
  }
  .btn.--more {
    font-size: 1.5rem;
    padding: 20px 40px;
  }
  .btn.--confirm {
    font-size: 1.5rem;
    padding: 20px 40px;
  }
  .btn.--thanks {
    font-size: 1.5rem;
    padding: 14px 64px;
  }
  .mt20 {
    margin-top: 40px;
  }
  .header-btn {
    font-size: 16px;
    padding: 16px;
  }
  .header-btn__text {
    margin-top: 16px;
  }
  .header-btn__icon {
    width: 28px;
    height: 28px;
  }
  .siryou-btn {
    min-width: 98px;
  }
  .contact-btn {
    min-width: 132px;
  }
  .pcMenuBtn {
    border: 1px solid #97C736;
    background-color: #fff;
    padding: 8px 16px;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1;
  }
  .pcMenuBtn:first-child {
    margin-right: 16px;
  }
  .footer-btn {
    width: 220px;
  }
  .seiden-logo {
    margin-right: 40px;
  }
  .toTop {
    width: 64px;
    height: 64px;
    right: 40px;
  }
  .toTop a::before {
    font-size: 32px;
  }
}
/* -------------------------------------------- */
/* パーツ */
/* -------------------------------------------- */
.card-list {
  margin-top: -20px;
}
.card-list__item {
  width: calc((100% - 15px) / 2);
  margin-top: 20px;
}
.card-list__thumb {
  position: relative;
}
.card-list__image {
  aspect-ratio: 320/200;
  object-fit: cover;
}
.card-list__label {
  font-size: 0.625rem;
  transform: scale(0.8);
  transform-origin: 0;
  background: #FAC017;
  font-weight: 700;
  padding: 3px 5px;
  display: inline-block;
  position: absolute;
  right: -9%;
  bottom: -11%;
}
.card-list__heading {
  font-size: 0.75rem;
  margin-top: 21px;
}
.card-list__desc {
  font-size: 0.75rem;
  padding: 12px 0;
  border-bottom: 1px solid #dddddd;
}
.card-list__cat {
  font-size: 0.625rem;
  color: #777777;
  margin-top: 12px;
}
.card-list__icon {
  width: 15px;
  margin-right: 8px;
}

.numberd-heading {
  font-size: 0.75rem;
  border-bottom: 2px dashed #23C7CE;
  padding-bottom: 16px;
}
.numberd-heading__num-image {
  width: 24px;
  height: 16px;
  object-fit: cover;
  margin-right: 8px;
}

.numbered-list__icon {
  background-color: #23C7CE;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: 700;
  line-height: 1;
}
.numbered-list__icon-title {
  font-size: 0.625rem;
  transform: scale(0.7);
}
.numbered-list__icon-num {
  font-size: 1rem;
}
.numbered-list__title {
  font-weight: 700;
  font-size: 0.75rem;
}
.numbered-list__answer {
  font-size: 0.75rem;
  margin-top: 18px;
}
.numbered-list__body {
  padding-left: 12px;
  padding-top: 12px;
  flex: 1;
}

.table-common {
  font-size: 0.75rem;
  line-height: 1.6;
}
.table-common tr:nth-child(odd) {
  background-color: rgba(151, 199, 54, 0.25);
}
.table-common tr:nth-child(even) {
  background-color: #fff;
}
.table-common th {
  padding: 10px;
  text-align: center;
}
.table-common td {
  padding: 12px;
}
.table-common td:first-child {
  vertical-align: top;
}
.table-common td:last-child {
  flex: auto;
}

.vegetable-list {
  margin-top: -2px;
}
.vegetable-list__title {
  font-size: 1rem;
  color: #97C736;
}
.vegetable-list__name {
  font-size: 0.75rem;
  width: 50%;
  margin-top: 18px;
}
.vegetable-list__desc {
  font-size: 0.625rem;
  margin-top: 20px;
}
.vegetable-list.--possible {
  margin-top: 14px;
}
.vegetable-list.--possible .vegetable-list__name {
  width: 35.8%;
  margin-top: 20px;
}
.vegetable-list.--possible .vegetable-list__name.--possible:nth-child(3n) {
  width: 28.3%;
}
.vegetable-list__image {
  width: 23.1884057971vw;
  margin-top: 8px;
}

.blue-bar::before {
  content: "";
  width: 2px;
  height: 8px;
  background: #23C7CE;
  display: inline-block;
  border-radius: 8px;
  margin-right: 7px;
}

@media (min-width: 765px) {
  .card-list {
    margin-top: -60px;
  }
  .card-list__item {
    width: calc((100% - 86px) / 3);
    margin-top: 60px;
  }
  .card-list__label {
    font-size: 0.75rem;
    transform: scale(1);
    padding: 6px 16px;
    right: 0%;
    bottom: -4%;
  }
  .card-list__heading {
    font-size: 1rem;
    margin-top: 24px;
  }
  .card-list__desc {
    font-size: 1rem;
    padding: 5px 0 24px;
  }
  .card-list__cat {
    margin-top: 14px;
  }
  .card-list__icon {
    width: 16px;
    margin-right: 4px;
  }
  .numberd-heading {
    font-size: 1.5rem;
    padding-bottom: 24px;
  }
  .numberd-heading__num-image {
    width: 48px;
    height: 32px;
    margin-right: 16px;
  }
  .numbered-list__icon {
    width: 70px;
    height: 70px;
  }
  .numbered-list__icon-title {
    font-size: 0.875rem;
    transform: scale(1);
  }
  .numbered-list__icon-num {
    font-size: 2rem;
  }
  .numbered-list__title {
    font-size: 1.5rem;
  }
  .numbered-list__answer {
    font-size: 1rem;
    margin-top: 24px;
  }
  .numbered-list__body {
    padding-left: 24px;
    padding-top: 24px;
    flex: 1;
  }
  .table-common {
    font-size: 1rem;
    line-height: 1.8;
  }
  .table-common td {
    padding: 16px;
  }
  .vegetable-list {
    margin-top: 0px;
  }
  .vegetable-list__title {
    font-size: 2rem;
  }
  .vegetable-list__name {
    font-size: 1rem;
    width: 33%;
    margin-top: 40px;
  }
  .vegetable-list__desc {
    font-size: 1rem;
    margin-top: 24px;
  }
  .vegetable-list.--possible {
    margin-top: 0;
    padding-left: 80px;
  }
  .vegetable-list.--possible .vegetable-list__name {
    margin-top: 40px;
    width: 39.1304347826%;
  }
  .vegetable-list.--possible .vegetable-list__name.--possible.second {
    width: 36.9565217391%;
  }
  .vegetable-list.--possible .vegetable-list__name.--possible.second .vegetable-list__image {
    width: 47.0588235294%;
  }
  .vegetable-list.--possible .vegetable-list__name.--possible:nth-child(3n) {
    width: 23.9130434783%;
  }
  .vegetable-list.--possible .vegetable-list__name.--possible:nth-child(3n) .vegetable-list__image {
    width: 72.7272727273%;
  }
  .vegetable-list__image {
    width: 44.4444444444%;
    margin-top: 16px;
    display: block;
  }
  .blue-bar::before {
    width: 4px;
    height: 16px;
    margin-right: 8px;
  }
}
.voice-list__item {
  border: 4px solid #97C736;
  padding: 16px 16px 32px;
}
.voice-list__item:not(:first-child) {
  margin-top: 20px;
}
.voice-list__heading-cont {
  border-bottom: 1px dashed #97C736;
  padding-bottom: 12px;
}
.voice-list__heading {
  font-size: 1rem;
}
.voice-list__name {
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 10px;
  white-space: nowrap;
  text-align: right;
}
.voice-list__link-wrap {
  margin-top: 4px;
  display: flex;
  justify-content: flex-end;
}
.voice-list__link {
  font-size: 0.625rem;
  transform: scale(0.7);
  transform-origin: 100%;
}

.voice-bottom-col2__wrap {
  padding: 16px;
  font-size: 0.75rem;
  margin-top: 20px;
  border: 4px solid #97C736;
}
.voice-bottom-col2__name {
  margin-top: 32px;
  font-weight: 700;
}
.voice-bottom-col2__depart {
  font-weight: 700;
}

.iconed-heading::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background: url(../images/voice-icon.png) no-repeat center/cover;
  margin-right: 8px;
}

.heading--green {
  color: #97C736;
}

.voice-qaa-list {
  font-size: 0.75rem;
}
.voice-qaa-list__item {
  margin-top: 20px;
}
.voice-qaa-list__item:not(:first-child) {
  margin-top: 32px;
}
.voice-qaa-list__title {
  font-size: 0.75rem;
  margin-top: 32px;
}
.voice-qaa-list__title.--first {
  margin-top: 32px;
}
.voice-qaa-list__question {
  font-weight: 700;
}
.voice-qaa-list__answer {
  margin-top: 12px;
}
.voice-qaa-list__image {
  margin: 32px auto 0;
  width: 77%;
  max-width: 600px;
}
.voice-qaa-list__image img {
  aspect-ratio: 225/141;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-navigation .nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.post-navigation .nav-previous,
.post-navigation .nav-next {
  background: #97C736;
  width: 44px;
  height: 44px;
  position: relative;
}
.post-navigation .nav-previous a,
.post-navigation .nav-next a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.post-navigation .nav-previous .navigation-arrow,
.post-navigation .nav-next .navigation-arrow {
  width: 11px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn.--return {
  padding: 16px 20px;
  font-size: 0.75rem;
}

@media (min-width: 765px) {
  .voice-list__item {
    padding: 28px 40px 64px;
  }
  .voice-list__item:not(:first-child) {
    margin-top: 20px;
  }
  .voice-list__heading-cont {
    padding-bottom: 20px;
  }
  .voice-list__heading {
    font-size: 2rem;
  }
  .voice-list__name {
    font-size: 1rem;
    margin-top: 0px;
  }
  .voice-list__link-wrap {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
  }
  .voice-list__link {
    font-size: 0.75rem;
    transform: scale(1);
  }
  .voice-bottom-col2 {
    display: flex;
    justify-content: space-between;
  }
  .voice-bottom-col2__wrap {
    padding: 16px;
    padding: 40px 40px 36px;
    font-size: 1rem;
    width: calc((100% - 40px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
  }
  .voice-bottom-col2__name {
    margin-top: 24px;
    font-weight: 700;
  }
  .voice-bottom-col2__depart {
    font-weight: 700;
  }
  .iconed-heading::before {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }
  .voice-qaa-list {
    font-size: 1rem;
  }
  .voice-qaa-list__item {
    margin-top: 40px;
  }
  .voice-qaa-list__item:not(:first-child) {
    margin-top: 40px;
  }
  .voice-qaa-list__title {
    font-size: 1.5rem;
    margin-top: 64px;
  }
  .voice-qaa-list__title.--first {
    margin-top: 48px;
  }
  .voice-qaa-list__answer {
    margin-top: 24px;
    padding: 0 16px;
  }
  .voice-qaa-list__image {
    margin: 40px auto 0;
  }
  .post-navigation .nav-links {
    margin-top: 64px;
  }
  .post-navigation .nav-previous,
  .post-navigation .nav-next {
    width: auto;
    height: auto;
  }
  .post-navigation .nav-previous a,
  .post-navigation .nav-next a {
    color: #fff;
    padding: 20px 40px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
  }
  .btn.--return {
    padding: 20px 40px;
    font-size: 1.5rem;
  }
}
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header__wrap {
  height: 100%;
}
.header__btn-wrap {
  display: flex;
  height: 100%;
}

.header-logo__link {
  width: 100%;
  line-height: 1;
}
.header-logo__image {
  width: 125px;
}

@media (min-width: 765px) {
  .header__wrap {
    height: 100px;
  }
  .header-logo {
    padding-left: 40px;
  }
  .header-logo__image {
    width: 230px;
  }
}
/*-------------  Hover Event ------------ */
@media (hover: hover) {
  .btn:hover,
  .nav-previous:hover,
  .nav-next:hover {
    background: #83AC32;
  }
  .pc-nav-list__link:hover {
    color: #83AC32;
  }
  .seiden-logo,
  .social_house-logo {
    transition: opacity 0.4s;
  }
  .seiden-logo:hover,
  .social_house-logo:hover {
    opacity: 0.6;
  }
  .footer-nav-list__link {
    transition: text-decoration 0.4s;
  }
  .footer-nav-list__link:hover {
    text-decoration: underline #fff;
  }
  .cta-image {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  .l-image:hover .cta-image,
  .wide-image:hover .cta-image,
  .s-image:hover .cta-image {
    transform: scale(1.2);
  }
}/*# sourceMappingURL=common.css.map */