@charset "UTF-8";
*{
  box-sizing: border-box;
}


/*----- common -----*/ 
@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #3D2F23;
$white: #fff;
$cream: #fffaeb;
$pink: #ea689a;
$yellow: #FAC017;
$skyblue: #23C7CE;
$skyblueHover: #1DB4BA;
$green: #97C736;
$greenHover: #83AC32;
$gray: #ccc;
$brown: #A07907;

body {
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, Verdana,sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(14);
  letter-spacing: 0.05em;
  color: $textColor;
  background-color: #fff;
}

@media (min-width: 765px) {
  
  body {
    font-size: rem(16);
    line-height: 1.8;
  }

}

/* -------------------------------------------- */
/* フォーム */
/* -------------------------------------------- */
form{
  width: 83.6%;
  max-width: 920px;
  margin: 0 auto;
  margin-top: -32px;
}

.form-parts{
  margin-top: 32px;

  //名前とラベル
  &__label{
    display: flex;
    align-items: center;
    font-size: rem(12);
    font-weight: 700;
  }

  // ------------ form部品 ------------
  &__body,
  textarea{
    line-height: 1;
    width: 100%;
    font-size: rem(12);
    padding: 11px 12px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #cccccc;
    margin-top: 12px;

    &:focus{
      background-color: #efefef;
    }
  }
}

textarea{
  height: 125px;
}

// ------------チェックボックス ------------
.checkbox-wrap{
  margin-top: 26px;
  display: flex;

  //左
  &.--left{
    width: 56%;
    margin-right: 8px;
  }
}

input[type="checkbox"] {
  cursor: pointer;
  padding-left: 36px;
  vertical-align: middle;
  position: relative;
}

.checkbox-label{
  font-size: rem(12);
  width: 100%;
  display: inline-block;

  &.--privacypolicy{
    border: 1px solid #000;
    display: block;
    width: 100%;
  }
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
  content: "";
  display: block; 
  position: absolute;
}

input[type="checkbox"]::before {
  background-color: #fff;
  border: 1px solid #cccccc;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  transform: translateY(-50%);
  top: 50%;
  left: 0px;
  box-sizing: border-box;
}

//チェックマーク
input[type="checkbox"]::after {
  border-bottom: 2px solid $green;
  border-left: 2px solid $green;
  opacity: 0;
  height: 8px;
  width: 18px;
  transform: rotate(-45deg);
  top: 12%;
  left: 18%;
}

input[type="checkbox"]:checked::after {
  opacity: 1;/*チェック後表示*/
}

//ラベル
.label-body{
  color: #fff;
  border-radius: 100px;
  font-size: rem(10);
  transform: scale(0.8);
  transform-origin: 0%;
  padding: 2px 12px;
  display: inline-block;
  margin-left: 12px;

  &.must{
    background-color: $pink;
  }

  &.free{
    background-color: $textColor;
  }
}

// ------------プライバシーポリシー用  ------------
.privacypolicy{
  text-align: center;
  font-size: rem(10);
  margin-top: 32px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.agree{
  font-size: rem(12);
}

input[type="checkbox"].--privacy::after{ 
  // transform: translateY(-65%) rotate(-45deg);
}

// ------------ 送信ボタン ------------
.confirm-btn-wrap{
  text-align: center;
  margin-top: 45px;
}


@media (min-width: 765px){
  form{
    width: 100%;
    margin-top: -40px;
  }
  
  .form-parts{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    //------------ form部品 ------------
    &__body,
    textarea,
    .checkbox-cont{
      width: 62.5%;
      margin-left: 40px;
      font-size: rem(16);
    }
    
    &__body,
    textarea{
      padding: 20px;
      margin-top: 0px;
    }

    &.--textarea,
    &.--checkbox{
      align-items: start;
    }
  
    //名前とラベル
    &__label{
      font-size: rem(16);
    }
  }
  
  textarea{
    height: 200px;
  }
  
  //--------- チェックボックス ----------
  .checkbox-wrap{
    margin-top: 26px;
    display: flex;

    &:nth-child(1),
    &:nth-child(2){
      margin-top: 0;
    }

    //左
    &.--left{
      width: 56%;
      margin-right: 8px;
    }
  }
  
  input[type="checkbox"] {
    padding-left: 44px;
  }
  
  .checkbox-label{
    font-size: rem(16);
  }
  
  //チェックマーク
  input[type="checkbox"]::after {
    border-bottom: 3px solid $green;
    border-left: 3px solid $green;
    top: 25%;
    left: 12%;
  }
  
  //ラベル
  .label-body{
    font-size: rem(16);
    transform: scale(1);
    padding: 4px 24px;
    margin-left: 24px;
  }
  
  //----------- プライバシーポリシー用 -----------
  .privacypolicy{
    font-size: rem(16);
    margin-top: 40px;
  }
  
  .agree{
    font-size: rem(16);
  }
  
  input[type="checkbox"].--privacy::after{ 
    transform: translateY(-65%) rotate(-45deg);
  }
  
  //---------- 送信ボタン ------------
  .confirm-btn-wrap{
    margin-top: 67px;
  }
  

}

/* -------------------------------------------- */
/* thanks */
.thanks{
  /* -------------------------------------------- */
  &__wrap{
    max-width: 920px;
    margin: 0 auto;
  }
  
  &__heading{
    font-size: rem(12);
    font-weight: 700;
    text-align: center;
  }

  &__desc{
    border: 1px solid $green;
    padding: 20px;
    margin-top: 20px;
    font-size: rem(12);
  }
}

@media (min-width: 765px){

  .thanks{
    
    &__heading{
      font-size: rem(24);
    }
  
    &__desc{
      padding: 16px;
      margin-top: 64px;
      font-size: rem(16);
    }
  }

}