@charset "UTF-8";
*{
  box-sizing: border-box;
}


/*----- common -----*/ 
@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #3D2F23;
$white: #fff;
$cream: #fffaeb;
$pink: #ea689a;
$yellow: #FAC017;
$skyblue: #23C7CE;
$skyblueHover: #1DB4BA;
$green: #97C736;
$greenHover: #83AC32;
$gray: #ccc;
$brown: #A07907;

body {
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, Verdana,sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(14);
  letter-spacing: 0.05em;
  color: $textColor;
  background-color: #fff;
}

@media (min-width: 765px) {
  
  body {
    font-size: rem(16);
    line-height: 1.8;
  }

}

/* -------------------------------------------- */
/* faq */
/* -------------------------------------------- */
.faq{

  &-wrap{
    width: 81%;
    font-size: rem(12);
  }

  //アイコン
  &-icon{
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
}

.faq-list{
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 20px 0;
}

//-------------- 質問 --------------
.faq-question{
  position: relative;
  cursor: pointer;

  &__heading{

    &::before,
    &::after{
      content:"";
      background: $green;
      border-radius: 4px;
      display: block;
      position: absolute;
      width: 12px;
      height: 2.5px;
      top: 10px;
      right: 0;
    }

    &::before{

    }
    
    &::after{
      transform: rotate(90deg);
      transition: transform .5s, opacity .5s;
    }
  }

  //activeがついたとき
  &.active .faq-question__heading::after{
    transform: rotate(0deg);
    opacity: 0;
  }
}


//-------------- 答え --------------
.faq-answer{
  margin-top: 20px;
}

@media (min-width: 765px) {
  .faq{

    &-wrap{
      width: 87.2%;
      font-size: rem(16);
    }
  
    //アイコン
    &-icon{
      width: 40px;
      height: 40px;
      margin-right: 24px;
    }
  }
  
  .faq-list{
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 24px 0;
  }
  
  //-------------- 質問 --------------
  .faq-question{

    &__heading{
      &::before,
      &::after{
        width: 24px;
        height: 5px;
        top: 20px;
        right: 0;
      }
    }
  }

  
  //-------------- 答え --------------
  .faq-answer{
    margin-top: 24px;
  }


}