@charset "UTF-8";
* {
  box-sizing: border-box;
}

/*----- common -----*/
/* -------------------------------------------- */
/* process */
/* -------------------------------------------- */
.process-list {
  margin-top: 32px;
}
.process-list__item {
  border: 2px solid #23C7CE;
  border-radius: 8px;
  padding: 16px 16px 12px;
  background-color: #fff;
}
.process-list__image {
  margin: 16px auto 0;
  width: 87%;
}
.process-list__desc {
  font-size: 0.75rem;
  margin-top: 16px;
}
.process-list__arrow-wrap {
  padding: 23px 0 20px;
  text-align: center;
  position: relative;
}
.process-list__arrow {
  display: inline-block;
  vertical-align: middle;
  color: #3D2F23;
  line-height: 1;
  width: 14px;
  height: 14px;
  border: 3px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
  text-align: center;
  position: relative;
}
.process-list__days {
  font-weight: 700;
  margin-left: 20px;
  font-size: 0.75rem;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translateY(-50%);
}
.process-list__caption {
  font-size: 0.625rem;
  transform: scale(0.8);
  transform-origin: 100%;
  text-align: right;
  margin-top: 12px;
}

@media (min-width: 765px) {
  .process-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .process-list__item {
    padding: 24px;
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  .process-list__heading {
    order: 1;
    margin-top: 24px;
    line-height: 1.6;
  }
  .process-list__image {
    margin-top: 0;
    width: 100%;
  }
  .process-list__desc {
    font-size: 1rem;
    margin-top: 24px;
    order: 1;
    min-height: 58px;
  }
  .process-list__arrow-wrap {
    padding: 0;
    position: relative;
    width: 8%;
    display: flex;
    align-items: center;
  }
  .process-list__arrow-wrap.arrow-right {
    flex-direction: column-reverse;
  }
  .process-list__arrow-wrap.arrow-right .process-list__arrow {
    transform: translate(-32%, -1%) rotate(45deg);
  }
  .process-list__arrow-wrap.arrow-right .process-list__days {
    margin-bottom: 24px;
  }
  .process-list__arrow-wrap.arrow-under {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 100px;
  }
  .process-list__arrow-wrap.arrow-under .process-list__days {
    margin-left: 24px;
    padding: 32px 0;
  }
  .process-list__arrow-wrap.arrow-left {
    flex-direction: column-reverse;
  }
  .process-list__arrow-wrap.arrow-left .process-list__arrow {
    transform: translate(0%, -1%) rotate(-135deg);
  }
  .process-list__arrow-wrap.arrow-left .process-list__days {
    margin-bottom: 24px;
  }
  .process-list__arrow {
    width: 23px;
    height: 23px;
    border: 5px solid currentColor;
    border-left: 0;
    border-bottom: 0;
  }
  .process-list__days {
    margin-left: 0px;
    font-size: 1.5rem;
    position: static;
    transform: translateY(0);
  }
  .process-list__caption {
    font-size: 1rem;
    transform: scale(1);
    margin-top: 16px;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
}
/* -------------------------------------------- */
/* 手順 */
/* -------------------------------------------- */
.procedure-list__item {
  font-size: 0.75rem;
  padding: 1em;
}
.procedure-list__item:nth-child(odd) {
  background: rgba(151, 199, 54, 0.15);
}
.procedure-list__item:nth-child(even) {
  background: #fff;
}

@media (min-width: 765px) {
  .procedure-list__item {
    font-size: 1rem;
  }
}
/* -------------------------------------------- */
/* ポイント */
/* -------------------------------------------- */
.point-table {
  margin-top: 32px;
}
.point-table__left {
  width: 30%;
}

.hinshitu-table__caption {
  font-size: 0.625rem;
  text-align: right;
  margin-top: 24px;
}

.seisan-table__caption {
  font-size: 0.75rem;
  text-align: right;
  margin-top: 12px;
}

@media (min-width: 765px) {
  .point-table {
    margin-top: 40px;
  }
  .point-table__left {
    width: 20%;
  }
  .hinshitu-table__caption {
    font-size: 1rem;
    margin-top: 0px;
  }
  .seisan-table__caption {
    font-size: 1rem;
    margin-top: 16px;
  }
}
/* -------------------------------------------- */
/* device */
/* -------------------------------------------- */
.device-list {
  margin-top: 20px;
}
.device-list__title {
  font-size: 0.75rem;
}
.device-list__item {
  font-size: 0.75rem;
  padding: 12px;
}
.device-list__item:nth-child(odd) {
  background: #fff;
}
.device-list__item:nth-child(even) {
  background: #fffaeb;
}

.aa {
  border: 1px solid #000;
  width: 100%;
  clear: both;
}

.device-label {
  background: #97C736;
  color: #fff;
  font-size: 0.625rem;
  display: inline-block;
  padding: 0 8px;
}
.device-label.--detail {
  margin-top: 32px;
}

.detail-list__image-wrap {
  width: 44.8%;
  float: right;
  margin: 30px 0 20px 20px;
  padding-top: 20px;
}

.detail-list__image-caption {
  font-size: 0.625rem;
  transform: scale(0.8);
  text-align: right;
  transform-origin: 100%;
  line-height: 2;
}

.detail-list__image-cont:not(:first-child) {
  margin-top: 20px;
}

.detail-list__item {
  font-size: 0.625rem;
}
.detail-list__item:not(:first-child) {
  margin-top: 32px;
}
.detail-list__title {
  font-size: 0.625rem;
  border-bottom: 2px dashed #23C7CE;
  padding-bottom: 12px;
  width: 49%;
}
.detail-list__desc {
  padding-top: 12px;
  padding-left: 12px;
}

.paddingleft {
  padding-left: 10px;
}

.complement {
  border: 1px solid #97C736;
  background-color: #fff;
  padding: 12px;
  margin-top: 32px;
  font-size: 0.625rem;
}
.complement__desc {
  margin-top: 12px;
}
.complement .process-list__arrow.--complement {
  width: 12px;
  color: #97C736;
  height: 12px;
}
.complement__conclution {
  text-align: center;
}

@media (min-width: 765px) {
  .device-list {
    margin-top: 40px;
  }
  .device-list__title {
    font-size: 1.5rem;
  }
  .device-list__item {
    font-size: 1rem;
    padding: 16px;
  }
  .device-label {
    font-size: 1rem;
    padding: 0 16px;
  }
  .device-label.--detail {
    margin-top: 40px;
  }
  .detail-list {
    margin-top: 20px;
  }
  .detail-list__item {
    font-size: 1rem;
    line-height: 1.6;
  }
  .detail-list__image-wrap {
    width: 30%;
    float: right;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  .detail-list__image-caption {
    font-size: 0.75rem;
    transform: scale(1);
    line-height: 1.5;
  }
  .detail-list__title {
    width: 66%;
    font-size: 1rem;
    padding-bottom: 16px;
  }
  .detail-list__desc {
    padding: 16px 0px 40px 24px;
  }
  .paddingleft {
    padding-left: 32px;
  }
  .complement {
    padding: 24px;
    font-size: 1rem;
  }
  .complement__desc {
    margin-top: 24px;
  }
  .complement .process-list__arrow-wrap {
    margin: 24px auto;
    justify-content: center;
  }
  .complement .process-list__arrow.--complement {
    width: 24px;
    height: 24px;
  }
}
/* -------------------------------------------- */
/* maintenance */
/* -------------------------------------------- */
.maintenance-point {
  border: 1px solid #97C736;
  font-size: 0.625rem;
  padding: 12px;
  line-height: 1.6;
  margin-top: 32px;
}

.maintenance-table {
  margin-top: 20px;
}
.maintenance-table__left {
  width: 30%;
}
.maintenance-table__right {
  width: 30%;
  vertical-align: top;
}

.maintenance-faa {
  border: 1px solid #97C736;
  font-size: 0.625rem;
  padding: 12px;
  margin-top: 20px;
}
.maintenance-faa__desc {
  margin-top: 10px;
  line-height: 1.6;
}

@media (min-width: 765px) {
  .maintenance-point {
    font-size: 1rem;
    padding: 16px;
    margin-top: 40px;
  }
  .maintenance-table {
    margin-top: 24px;
    width: 100%;
  }
  .maintenance-table__left {
    width: 20%;
  }
  .maintenance-table__center {
    width: 60%;
  }
  .maintenance-table__right {
    width: 20%;
  }
  .maintenance-faa {
    font-size: 1rem;
    padding: 16px;
    margin-top: 40px;
  }
  .maintenance-faa__desc {
    margin-top: 24px;
  }
}/*# sourceMappingURL=howto.css.map */