@charset "UTF-8";
*{
  box-sizing: border-box;
}


/*----- common -----*/ 
@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #3D2F23;
$white: #fff;
$cream: #fffaeb;
$pink: #ea689a;
$yellow: #FAC017;
$skyblue: #23C7CE;
$skyblueHover: #1DB4BA;
$green: #97C736;
$greenHover: #83AC32;
$gray: #ccc;
$brown: #A07907;

/* -------------------------------------------- */
/* process */
/* -------------------------------------------- */
.process{

}

.process-list{
  margin-top: 32px;

  &__item{
    border: 2px solid $skyblue;
    border-radius: 8px;
    padding: 16px 16px 12px;
    background-color: $white;
  }

  &__image{
    margin: 16px auto 0;
    width: 87%;
  }

  &__desc{
    font-size: rem(12);
    margin-top: 16px;
  }

  //矢印
  &__arrow-wrap{
    padding: 23px 0 20px;
    text-align: center;
    position: relative;
  }

  &__arrow{
    display: inline-block;
    vertical-align: middle;
    color: $textColor;
    line-height: 1;
    width: 14px;
    height: 14px;
    border: 3px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
    text-align: center;
    position: relative;
  }

  //日数
  &__days{
    font-weight: 700;
    margin-left: 20px;
    font-size: rem(12);
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translateY(-50%);
  }

  //下の注釈
  &__caption{
    font-size: rem(10);
    transform: scale(0.8);
    transform-origin: 100%;
    text-align: right;
    margin-top: 12px;
  }
}

@media (min-width: 765px) {
  .process{

  }
  
  .process-list{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
    &__item{
      padding: 24px;
      width: 45%;
      display: flex;
      flex-direction: column;
    }

    &__heading{
      order:1;
      margin-top: 24px;
      line-height: 1.6;
    }
  
    &__image{
      margin-top: 0;
      width: 100%;
    }
    
    &__desc{
      font-size: rem(16);
      margin-top: 24px;
      order:1;
      min-height: 58px;
    }
  
    //矢印
    &__arrow-wrap{
      padding: 0;
      position: relative;
      width: 8%;
      display: flex;
      align-items: center;
      
      //右向きの矢印
      &.arrow-right{
        flex-direction: column-reverse;

        .process-list__arrow{
          transform: translate(-32%, -1%) rotate(45deg);
        }

        .process-list__days{
          margin-bottom: 24px;
        }
      }
      
      //下向きの矢印
      &.arrow-under{
        justify-content:flex-end;
        align-items: center;
        width: 100%;
        padding-right: 100px;

        .process-list__days{
          margin-left: 24px;
          padding: 32px 0;
        }
      }

      //左向きの矢印
      &.arrow-left{
        flex-direction: column-reverse;

        .process-list__arrow{
          transform: translate(0%, -1%) rotate(-135deg);
        }

        .process-list__days{
          margin-bottom: 24px;
        }
      }
    }
  
    &__arrow{
      width: 23px;
      height: 23px;
      border: 5px solid currentColor;
      border-left: 0;
      border-bottom: 0;
    }
  
    //日数
    &__days{
      margin-left: 0px;
      font-size: rem(24);
      position: static;
      transform: translateY(0);
    }
  
    //下の注釈
    &__caption{
      font-size: rem(16);
      transform: scale(1);
      margin-top: 16px;
    }
  }

  .order1{
    order: 1;
  }

  .order2{
    order: 2;
  }

}

/* -------------------------------------------- */
/* 手順 */
/* -------------------------------------------- */
.procedure{

}

.procedure-list{
  &__item{
    font-size: rem(14);
    padding: 1em;

    &:nth-child(odd){
      background: rgba(151, 199, 54, 0.15);
    }

    &:nth-child(even){
      background: #fff;
    }
  }
}

@media (min-width: 765px) {
  .procedure{

  }
  
  .procedure-list{
    &__item{
      font-size: rem(16);
      // line-height: 1;
    }
  }

}

/* -------------------------------------------- */
/* ポイント */
/* -------------------------------------------- */
.point{

}

.point-table{
  margin-top: 32px;

  &__left{
    width: 30%;
  }
}

.hinshitu-table{

  &__caption{
    font-size: rem(10);
    text-align: right;
    margin-top: 24px;
  }
}

.seisan-table{

  &__caption{
    font-size: rem(12);
    text-align: right;
    margin-top: 12px;
  }
}

@media (min-width: 765px) {
  .point{

  }
  
  .point-table{
    margin-top: 40px;
  
    &__left{
      width: 20%;
    }
  }
  
  .hinshitu-table{
  
    &__caption{
      font-size: rem(16);
      margin-top: 0px;
    }
  }
  
  .seisan-table{
  
    &__caption{
      font-size: rem(16);
      margin-top: 16px;
    }
  }
  
}

/* -------------------------------------------- */
/* device */
/* -------------------------------------------- */
.device{

}

//基本仕様のリスト
.device-list{
  margin-top: 20px;

  &__title{
    font-size: rem(12);
  }

  &__item{
    font-size: rem(12);
    padding: 12px;
    &:nth-child(odd){
      background: $white;
    }
    
    &:nth-child(even){
      background: $cream;
    }
  }
}

//緑のラベル
.device-label{
  background: $green;
  color:$white;
  font-size: rem(10);
  display: inline-block;
  padding: 0 8px;

  &.--detail{
    margin-top: 32px;
    margin-bottom: 20px;
  }
}

//----------- 詳細 -----------
//画像側
.detail-list__image-wrap{
  width: 45%;
  float: right;
  margin: 50px 0 20px 20px;
  padding-top: 20px;
  margin-left: 6%;
}

//キャプション
.detail-list__image-caption{
  font-size: rem(10);
  transform: scale(0.8);
  text-align: right;
  transform-origin: 100%;
  line-height: 2;
}

.detail-list__image-cont:not(:first-child){
  margin-top: 20px; 
}

//文字側
.detail-list{
  // margin-top: 20px;

  &__item{
    font-size: rem(10);

    &:not(:first-child){
      margin-top: 32px;
    }
  }

  &__title{
    font-size: rem(10);
    border-bottom: 2px dashed $skyblue;
    padding-bottom: 12px;
    width: 49%;
  }

  &__desc{
    padding-top: 12px;
    padding-left: 12px;
  }
}

.paddingleft{
  padding-left: 10px;
}

//-----------  補足 -----------
.complement{
  border: 1px solid $green;
  background-color: $white;
  padding: 12px;
  margin-top: 32px;
  font-size: rem(10);
  clear: both;

  &__desc{
    margin-top: 12px;
  }

  .process-list__arrow.--complement{
    width: 12px;
    color:$green;
    height: 12px;
  }

  &__conclution{
    text-align: center;
  }
}

@media (min-width: 765px) {
  .device{

  }
  
  //基本仕様のリスト
  .device-list{
    margin-top: 40px;
  
    &__title{
      font-size: rem(24);
    }
  
    &__item{
      font-size: rem(16);
      padding: 16px;
    }
  }
  
  //緑のラベル
  .device-label{
    font-size: rem(16);
    padding: 0 16px;

    &.--detail{
      margin-top: 40px;
      margin-bottom: 14px;
    }
  }
  
  //----------- 詳細 -----------
  //画像側
  .detail-list__image-wrap{
    width: 30%;
    padding-top: 40px;
    margin-left: 4%;
  }

  //キャプション
  .detail-list__image-caption{
    font-size: rem(12);
    transform: scale(1);
    line-height: 1.5;
    margin-top: 8px;
  }

  .detail-list__image-cont:not(:first-child){
    margin-top: 40px; 
  }

  //文字側
  .detail-list{

    &__item{
      font-size: rem(16);
  
      &:not(:first-child){
        margin-top: 32px;
      }
    }
  
    &__title{
      width: 66%;
      font-size: rem(16);
      padding-bottom: 16px;
    }
  
    &__desc{
      padding-top: 16px;
      padding-left: 24px;
    }
  }
  
  .paddingleft{
    padding-left: 32px;
  }
  
  //-----------  補足 -----------
  .complement{
    padding: 24px;
    font-size: rem(16);
  
    &__desc{
      margin-top: 24px;
    }

    .process-list__arrow-wrap{
      margin: 24px auto;
      justify-content: center;
    }
  
    .process-list__arrow.--complement{
      width: 24px;
      height: 24px;
    }
  }

}

/* -------------------------------------------- */
/* maintenance */
/* -------------------------------------------- */
.maintenance{

}

.maintenance-point{
  border: 1px solid $green;
  font-size: rem(10);
  padding: 12px;
  line-height: 1.6;
  margin-top: 32px;
}

.maintenance-table{
  margin-top: 20px;

  &__left{
    width: 30%;
  }
  
  &__center{
    
  }
  
  &__right{
    width: 30%;
    vertical-align: top;

  }
}

.maintenance-faa{
  border: 1px solid $green;
  font-size: rem(10);
  padding: 12px;
  margin-top: 20px;

  &__desc{
    margin-top: 10px;
    line-height: 1.6;
  }
}

@media (min-width: 765px) {
  .maintenance{

  }
  
  .maintenance-point{
    font-size: rem(16);
    padding: 16px;
    margin-top: 40px;
  }
  
  .maintenance-table{
    margin-top: 24px;
    width: 100%;
  
    &__left{
      width: 20%;
    }
    
    &__center{
      width: 60%;
    }
    
    &__right{
      width: 20%;
    }
  }
  
  .maintenance-faa{
    font-size: rem(16);
    padding: 16px;
    margin-top: 40px;
  
    &__desc{
      margin-top: 24px;
    }
  }

}