@charset "UTF-8";
* {
  box-sizing: border-box;
}

/*----- common -----*/
/* -------------------------------------------- */
/* process */
/* -------------------------------------------- */
.process-list {
  margin-top: 32px;
}
.process-list__item {
  border: 2px solid #23C7CE;
  border-radius: 8px;
  padding: 16px 16px 12px;
  background-color: #fff;
}
.process-list__image {
  margin: 16px auto 0;
  width: 87%;
}
.process-list__desc {
  font-size: 0.75rem;
  margin-top: 16px;
}
.process-list__arrow-wrap {
  padding: 23px 0 20px;
  text-align: center;
  position: relative;
}
.process-list__arrow {
  display: inline-block;
  vertical-align: middle;
  color: #3D2F23;
  line-height: 1;
  width: 14px;
  height: 1em;
  border: 3px solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
  text-align: center;
  position: relative;
}
.process-list__days {
  font-weight: 700;
  margin-left: 20px;
  font-size: 0.75rem;
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.process-list__caption {
  font-size: 0.625rem;
  transform: scale(0.8);
  transform-origin: 100%;
  text-align: right;
  margin-top: 12px;
}

/* -------------------------------------------- */
/* 手順 */
/* -------------------------------------------- */
.procedure-list__item {
  font-size: 0.75rem;
  padding: 12px;
}
.procedure-list__item:nth-child(odd) {
  background: rgba(151, 199, 54, 0.15);
}
.procedure-list__item:nth-child(even) {
  background: #fff;
}

/* -------------------------------------------- */
/* ポイント */
/* -------------------------------------------- */
.point-table {
  margin-top: 32px;
}
.point-table__left {
  width: 30%;
}

.hinshitu-table__caption {
  font-size: 0.625rem;
  text-align: right;
  margin-top: 24px;
}

.seisan-table__caption {
  font-size: 0.75rem;
  text-align: right;
  margin-top: 12px;
}

/* -------------------------------------------- */
/* device */
/* -------------------------------------------- */
.device-list {
  margin-top: 20px;
}
.device-list__title {
  font-size: 0.75rem;
}
.device-list__item {
  font-size: 0.75rem;
  padding: 12px;
}
.device-list__item:nth-child(odd) {
  background: #fff;
}
.device-list__item:nth-child(even) {
  background: #fffaeb;
}

.aa {
  border: 1px solid #000;
  width: 100%;
  clear: both;
}

.device-label {
  background: #97C736;
  color: #fff;
  font-size: 0.625rem;
  display: inline-block;
  padding: 0 8px;
}
.device-label.--detail {
  margin-top: 32px;
}

.detail-list {
  margin-top: 20px;
}
.detail-list__item {
  font-size: 0.625rem;
  line-height: 1.6;
}
.detail-list__image-wrap {
  width: 150px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
.detail-list__image-caption {
  font-size: 0.625rem;
  transform: scale(0.8);
  text-align: right;
  transform-origin: 100%;
  line-height: 2;
}
.detail-list__title {
  width: 165px;
  font-size: 0.625rem;
  border-bottom: 2px dashed #23C7CE;
  padding-bottom: 12px;
}
.detail-list__desc {
  padding: 12px 0px 32px 12px;
}

.paddingleft {
  padding-left: 10px;
}

.complement {
  border: 1px solid #97C736;
  background-color: #fff;
  padding: 12px;
  font-size: 0.625rem;
}
.complement__desc {
  margin-top: 12px;
}
.complement .process-list__arrow.--complement {
  width: 12px;
  color: #97C736;
  height: 12px;
}
.complement__conclution {
  text-align: center;
}

/* -------------------------------------------- */
/* maintenance */
/* -------------------------------------------- */
.maintenance-point {
  border: 1px solid #97C736;
  font-size: 0.625rem;
  padding: 12px;
  line-height: 1.6;
  margin-top: 32px;
}

.maintenance-table {
  margin-top: 20px;
}
.maintenance-table__left {
  width: 30%;
}
.maintenance-table__right {
  width: 30%;
  vertical-align: top;
}

.maintenance-faa {
  border: 1px solid #97C736;
  font-size: 0.625rem;
  padding: 12px;
  margin-top: 20px;
}
.maintenance-faa__desc {
  margin-top: 10px;
  line-height: 1.6;
}/*# sourceMappingURL=howto.css.map */