@charset "UTF-8";
*{
  box-sizing: border-box;
}


/*----- common -----*/ 
@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #3D2F23;
$white: #fff;
$cream: #fffaeb;
$pink: #ea689a;
$yellow: #FAC017;
$skyblue: #23C7CE;
$skyblueHover: #1DB4BA;
$green: #97C736;
$greenHover: #83AC32;
$gray: #ccc;
$brown: #A07907;

/* -------------------------------------------- */
/* future */
/* -------------------------------------------- */
.future{

}

@media (min-width: 765px) {
  .future{

  }
}

/* -------------------------------------------- */
/* step */
/* -------------------------------------------- */
.step{

  //---------- step本体 ----------
  &__cont{
    padding-top: 50px;
  }

  &__image{
    position: relative;
    width: 44.8%;
  }

  &__icon{
    position: absolute;
    top: -20%;
    right: -11%;
  }

  //文字の方
  &__body{
    flex:1;
  }

  &__title{
    font-size: rem(16);
    color: $green;
  }

  &__desc.sp-only{
    font-size: rem(12);
    margin-top: 12px;
  }
}

.examination-first-step,
.examination-second-step{
  border: 1px solid $green;
  background-color: $white;
  padding: 16px;
  margin-top: 20px;
  font-size: rem(10);
  line-height: 1.6;
}

.examination-list{

  &__title{
    font-weight: 700;
  }

  &__item::before{
    content:"●";
    color:$skyblue;
  }
}

.examination-second-step{
  &__text{
    font-weight: 700;
    margin-top: 12px;
  }
}

//step2の表内のリスト
.examination-second-step-list{
  margin-top: 20px;

  &__title{
    font-weight: 700;
    padding-bottom: 12px;
  }

  &__desc{
    padding-left: 8px;
    &-left{
      min-width: 80px;
      display: inline-block;
    }
  }
}


@media (min-width: 765px) {
  .step{

    //---------- step本体 ----------
    &__cont{
      padding-top: 100px;
    }
  
    &__image{
      width: 30%;
    }
  
    //文字の方
    &__body{
      padding-top: 0;
      padding-left: 40px;
      margin-top: -30px;
    }
  
    &__title{
      font-size: rem(32);
    }

    &__desc.pc-only{
      font-size: rem(16);
      line-height: 1.8;
      margin-top: 26px;
    }
  }
  
  .examination-first-step,
  .examination-second-step{
    padding: 24px;
    margin-top: 24px;
    font-size: rem(16);
    line-height: 1.8;
  }
  
  .examination-second-step{
    &__text{
      margin-top: 34px;
    }
  }
  
  //step2の表内のリスト
  .examination-second-step-list{
    margin-top: 40px;
  
    &__title{
      padding-bottom: 16px;
    }
  
    &__desc{
      padding-left: 16px;

      &-left{
        min-width: 130px;
      }
    }
  }
}

/* -------------------------------------------- */
/* 新規参入 */
/* -------------------------------------------- */
.sannyu{


}

//必要なものリスト
.sannyu-list{
  font-size: rem(10);
  line-height: 1.6;
  padding: 4px 8px;
  
  &__wrap{
    border: 1px solid $green;
    padding: 16px;
    margin-top: 20px;
  }
  
  &__title{
    font-size: rem(10);
  }
}

//表
.sannyu-table{
  margin-top: 24px;
  
  &__left{
    width: 32.8%;
  }
}

@media (min-width: 765px) {
  //必要なものリスト
  .sannyu-list{
    font-size: rem(16);
    line-height: 1.8;
    padding: 16px 16px;
    
    &__wrap{
      padding: 24px;
      margin-top: 40px;
    }
    
    &__title{
      font-size: rem(16);
    }
  }
  
  //表
  .sannyu-table{
    
    margin-top: 40px;
    
    &__left{
      width: 20%;
    }
  }

}

/* -------------------------------------------- */
/*能力を引き出す  */
/* -------------------------------------------- */
.withdraw{

}

@media (min-width: 765px) {

}

/* -------------------------------------------- */
/* コグトレ */
/* -------------------------------------------- */
.cogtr{

}

//横並びのアイテム
.cogtr-list{
  
  &__item{
    margin-top: 32px;
  }

  &__image{
    width: 77.6%;
    margin: 0 auto;
  }
  
  &__title{
    font-size: rem(12);
    text-align: center;
    margin-top: 20px;
  }

  //テキスト
  &__desc{
    margin-top: 12px;
    font-size: rem(12);
  }
}

@media (min-width: 765px) {
  //横並びのアイテム
  .cogtr-list{
    display: flex;
    justify-content: space-between;
    
    &__item{
      margin-top: 40px;
      width: 30%;
    }
  
    &__image{
      width: 100%;
    }
    
    &__title{
      font-size: rem(16);
      margin-top: 24px;
    }
  
    //テキスト
    &__desc{
      margin-top: 40px;
      font-size: rem(16);
    }
  }

}

/* -------------------------------------------- */
/* 解決策 */
/* -------------------------------------------- */
.resolution{

  &__cont{
    align-items: center;
  }

  &__image{
    width: 36%;
    position: relative;
  }

  &__icon{
    position: absolute;
    top: -14%;
    right: -15%;
  }

  &__body{
    padding: 0;
  }

  &__title{
    color:$green;
    font-size: rem(16);
    margin-left: 20px;
  }

  &__desc{
    font-weight: 700;

    &.sp-only{
      margin-top: 20px;
    }
  }
}

.resolution-list-item{
  margin-top: 37px;
}

@media (min-width: 765px) {
  .resolution{

    &__cont{
      align-items: flex-start;
    }

    &__image{
      width: 24%;
    }
  
    &__icon{
      top: -14%;
      right: -15%;
    }
  
    &__body{
      padding-left: 40px;
    }
  
    &__title{
      font-size: rem(32);
      margin-left: 0;
      line-height: 1.2;
    }
  
    &__desc{

      &.pc-only{
        flex:auto;
      }
    }
  }
  
  .resolution-list-item{
    margin-top: 75px;
  }
}
