@charset "UTF-8";
* {
  box-sizing: border-box;
}

/*----- common -----*/
/* -------------------------------------------- */
/* future */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* step */
/* -------------------------------------------- */
.step__cont {
  padding-top: 50px;
  align-items: center;
}
.step__image {
  position: relative;
  width: 44.8%;
}
.step__icon {
  position: absolute;
  top: -20%;
  right: -11%;
}
.step__body {
  flex: 1;
  padding-top: 0;
}
.step__title {
  font-size: 1rem;
  color: #97C736;
}
.step__desc.sp-only {
  font-size: 0.75rem;
  margin-top: 12px;
}

.examination-first-step,
.examination-second-step {
  border: 1px solid #97C736;
  background-color: #fff;
  padding: 16px;
  margin-top: 20px;
  font-size: 0.625rem;
  line-height: 1.6;
}

.examination-list__title {
  font-weight: 700;
}
.examination-list__item::before {
  content: "●";
  color: #23C7CE;
}

.examination-second-step__text {
  font-weight: 700;
  margin-top: 12px;
}

.examination-second-step-list {
  margin-top: 20px;
}
.examination-second-step-list__title {
  font-weight: 700;
  padding-bottom: 12px;
}
.examination-second-step-list__desc {
  padding-left: 8px;
}
.examination-second-step-list__desc-left {
  min-width: 80px;
  display: inline-block;
}

@media (min-width: 765px) {
  .step__cont {
    padding-top: 100px;
    align-items: start;
  }
  .step__image {
    width: 30%;
  }
  .step__body {
    padding-top: 10px;
    padding-left: 40px;
    margin-top: -30px;
  }
  .step__title {
    font-size: 2rem;
  }
  .step__desc.pc-only {
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 26px;
  }
  .examination-first-step,
  .examination-second-step {
    padding: 24px;
    margin-top: 24px;
    font-size: 1rem;
    line-height: 1.8;
  }
  .examination-second-step__text {
    margin-top: 34px;
  }
  .examination-second-step-list {
    margin-top: 40px;
  }
  .examination-second-step-list__title {
    padding-bottom: 16px;
  }
  .examination-second-step-list__desc {
    padding-left: 16px;
  }
  .examination-second-step-list__desc-left {
    min-width: 130px;
  }
}
/* -------------------------------------------- */
/* 新規参入 */
/* -------------------------------------------- */
.sannyu-list {
  font-size: 0.625rem;
  line-height: 1.6;
  padding: 4px 8px;
}
.sannyu-list__wrap {
  border: 1px solid #97C736;
  padding: 16px;
  margin-top: 20px;
}
.sannyu-list__title {
  font-size: 0.625rem;
}

.sannyu-table {
  margin-top: 24px;
}
.sannyu-table__left {
  width: 32.8%;
}

@media (min-width: 765px) {
  .sannyu-list {
    font-size: 1rem;
    line-height: 1.8;
    padding: 16px 16px;
  }
  .sannyu-list__wrap {
    padding: 24px;
    margin-top: 40px;
  }
  .sannyu-list__title {
    font-size: 1rem;
  }
  .sannyu-table {
    margin-top: 40px;
  }
  .sannyu-table__left {
    width: 20%;
  }
}
/* -------------------------------------------- */
/*能力を引き出す  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* コグトレ */
/* -------------------------------------------- */
.cogtr-list__item {
  margin-top: 32px;
}
.cogtr-list__image {
  width: 77.6%;
  margin: 0 auto;
}
.cogtr-list__title {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 20px;
}
.cogtr-list__desc {
  margin-top: 12px;
  font-size: 0.875rem;
}

@media (min-width: 765px) {
  .cogtr-list {
    display: flex;
    justify-content: space-between;
  }
  .cogtr-list__item {
    margin-top: 40px;
    width: 30%;
  }
  .cogtr-list__image {
    width: 100%;
  }
  .cogtr-list__title {
    font-size: 1rem;
    margin-top: 24px;
  }
  .cogtr-list__desc {
    margin-top: 40px;
    font-size: 1rem;
  }
}
/* -------------------------------------------- */
/* 解決策 */
/* -------------------------------------------- */
.resolution__cont {
  align-items: center;
}
.resolution__image {
  width: 36%;
  position: relative;
}
.resolution__icon {
  position: absolute;
  top: -14%;
  right: -15%;
}
.resolution__body {
  padding: 0;
}
.resolution__title {
  color: #97C736;
  font-size: 1rem;
  margin-left: 20px;
}
.resolution__desc {
  font-weight: 700;
}
.resolution__desc.sp-only {
  margin-top: 20px;
}

.resolution-list-item {
  margin-top: 37px;
}

@media (min-width: 765px) {
  .resolution__cont {
    align-items: flex-start;
  }
  .resolution__image {
    width: 24%;
  }
  .resolution__icon {
    top: -14%;
    right: -15%;
  }
  .resolution__body {
    padding-left: 40px;
  }
  .resolution__title {
    font-size: 2rem;
    margin-left: 0;
    line-height: 1.2;
  }
  .resolution__desc.pc-only {
    flex: auto;
  }
  .resolution-list-item {
    margin-top: 75px;
  }
}/*# sourceMappingURL=noufukurenkei.css.map */