@charset "UTF-8";
* {
  box-sizing: border-box;
}

/*----- common -----*/
/* -------------------------------------------- */
/* ヘッダー */
/* -------------------------------------------- */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.header__wrap {
  height: 100%;
  padding-left: 20px;
  background-color: #fff;
}
.header__btn-wrap {
  display: flex;
}

.header-logo {
  line-height: 1;
  width: 35.2%;
  max-width: 125px;
}
.header-logo__link {
  line-height: 1;
}

.header-link-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-btn {
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: 10px 8px;
}
.header-btn__text {
  font-size: 0.625rem;
  display: inline-block;
  white-space: nowrap;
}
.header-btn__icon {
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 14px;
  height: 14px;
}

.siryou-btn {
  border-right: 1px #fff solid;
  background-color: #23C7CE;
  color: #fff;
}

.contact-btn {
  border-right: 1px #fff solid;
  background-color: #97C736;
  color: #fff;
}

.burger {
  width: 50px;
  position: relative;
  cursor: pointer;
  background-color: #3D2F23;
}

.bar {
  width: 46%;
  height: 1.5px;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
.bar:nth-of-type(1) {
  top: 11px;
}
.bar:nth-of-type(2) {
  top: 18px;
}
.bar:nth-of-type(3) {
  top: 25px;
}

.burger-text {
  color: #fff;
  font-size: 0.625rem;
  font-weight: 700;
  position: absolute;
  top: 31px;
  left: 50%;
  transform: translate(-50%);
  line-height: 1;
}

.burger.active .bar:nth-of-type(2) {
  opacity: 0;
}

.burger.active .bar:nth-of-type(1) {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 40%;
}

.burger.active .bar:nth-of-type(3) {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 40%;
}

.burger-text.change {
  color: #fff;
  font-size: 0.625rem;
  font-weight: 700;
  position: absolute;
  top: 31px;
  left: 50%;
  transform: translate(-50%);
  line-height: 1;
}

@media (min-width: 765px) {
  .header__wrap {
    padding-left: 40px;
  }
  .header-logo {
    width: 35%;
    max-width: 280px;
  }
  .header-btn {
    padding: 16px 12px;
    height: 80px;
  }
  .header-btn__text {
    font-size: 0.875rem;
    transform: scale(1);
  }
  .header-btn__icon {
    width: 24px;
    height: 24px;
    margin-bottom: 12px;
  }
  .burger {
    width: 80px;
  }
  .bar {
    height: 2px;
    left: 50%;
  }
  .bar:nth-of-type(1) {
    top: 22px;
  }
  .bar:nth-of-type(2) {
    top: 32px;
  }
  .bar:nth-of-type(3) {
    top: 42px;
  }
  .burger-text {
    font-size: 0.875rem;
    top: 54px;
  }
}
@media (min-width: 992px) {
  .header__wrap {
    padding-left: 40px;
  }
  .header-logo {
    width: 17.3%;
    max-width: 230px;
  }
  .header-link-wrap {
    flex: 1;
  }
  .header-btn {
    padding: 20px 0;
    height: 100px;
  }
  .header-btn__text {
    font-size: 1rem;
    font-size: clamp(14px, 1vw, 16px);
    padding: 0 1em;
  }
  .header-btn__icon {
    width: 28px;
    height: 28px;
    margin-bottom: 16px;
  }
  .contact-btn {
    border-right: none;
  }
  .burger {
    display: none;
  }
}
/* -------------------------------------------- */
/* ナビメニュー */
/* -------------------------------------------- */
.sp-nav {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  height: calc(100vh - 50px);
  position: fixed;
  top: -200%;
  left: 0;
  transition: top 0.4s;
  z-index: -1;
  overflow: scroll;
}
.sp-nav.active {
  top: 50px;
}

.sp-nav-list {
  font-size: 0.75rem;
  margin-top: 10px;
}
.sp-nav-list__item {
  border-bottom: 1px solid #ccc;
}
.sp-nav-list__item:first-child {
  border-top: 1px solid #ccc;
}
.sp-nav-list__link {
  display: block;
  line-height: 1;
  padding: 20px 20px;
}

.spMenuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 1;
  width: 49%;
  max-width: 300px;
}
.spMenuBtn.siryou-btn {
  padding: 12px 32px;
}
.spMenuBtn.contact-btn {
  padding: 14px 15px;
}
.spMenuBtn__wrap {
  padding: 32px 20px;
}
.spMenuBtn__wrap .spMenuBtn:first-child {
  margin-right: 20px;
}
.spMenuBtn__icon {
  margin-right: 8px;
  width: 20px;
}
.spMenuBtn__text {
  font-size: 1rem;
  white-space: nowrap;
}

.pc-nav {
  display: none;
  margin-right: 1.1713030747vw;
}

.pc-nav__btnWrap {
  display: flex;
  justify-content: flex-end;
}

.pc-nav-list {
  font-weight: 700;
  margin-top: 20px;
  justify-content: flex-end;
}
.pc-nav-list__item {
  padding: 0 1.2445095168vw;
  position: relative;
  line-height: 1;
  font-size: clamp(12px, 1vw, 14px);
  white-space: nowrap;
}
.pc-nav-list__item:last-child {
  padding-right: 0;
}
.pc-nav-list__item:not(:last-child)::after {
  content: "";
  width: 18px;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  right: -10px;
  background-color: #97C736;
  transform: rotate(140deg);
}

@media (min-width: 765px) {
  .sp-nav {
    height: calc(100vh - 80px);
  }
  .sp-nav.active {
    top: 80px;
  }
  .sp-nav-list {
    font-size: 1rem;
    margin-top: 16px;
  }
  .sp-nav-list__link {
    padding: 30px 40px;
  }
  .spMenuBtn.siryou-btn {
    padding: 12px 32px;
  }
  .spMenuBtn.contact-btn {
    padding: 20px 15px;
  }
  .spMenuBtn__wrap {
    padding: 64px 20px;
  }
  .spMenuBtn__wrap .spMenuBtn:first-child {
    margin-right: 40px;
  }
  .spMenuBtn__icon {
    margin-right: 12px;
    width: 28px;
  }
}
@media (min-width: 992px) {
  .sp-nav {
    display: none;
  }
  .pc-nav {
    display: block;
  }
}
/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv {
  padding: 70px 20px 52px;
  position: relative;
}
.mv::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25.7%;
  top: 45.3333333333vw;
  left: 0;
  z-index: -1;
  display: block;
  background: url(../images/24771547_l.png) center;
}
.mv__image {
  width: 100%;
}
.mv__copy {
  background-color: #23C7CE;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  font-size: 1.375rem;
  margin-left: 10px;
  font-size: clamp(22px, 3vw, 40px);
  white-space: nowrap;
}
.mv__copy-wrap.--sp {
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mv__copy-wrap.--sp .mv__copy {
  padding: 5px 8px;
  display: inline-block;
}
.mv__copy-wrap.--sp .mv__copy.--bottom {
  margin-top: 12px;
}
.mv__copy-wrap.--pc {
  display: none;
}
.mv__text {
  font-size: 0.75rem;
  font-size: clamp(14px, 3vw, 16px);
  padding: 32px 0;
}

@media (min-width: 765px) {
  .mv {
    padding: 110px 40px 40px;
    position: relative;
  }
  .mv::before {
    height: 45.5%;
    top: 32.2108345534vw;
    background: url(../images/mv-bg-pc.png) center/cover no-repeat;
  }
  .mv__text-wrap {
    width: 29.8682284041vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.9282576867vw 0 0.7320644217vw;
  }
  .mv .pc-cont {
    display: flex;
  }
  .mv__image {
    width: 64.4216691069vw;
  }
  .mv__copy-wrap.--sp {
    display: none;
  }
  .mv__copy-wrap.--pc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -22px;
  }
  .mv__copy-wrap.--pc .mv__copy {
    padding: 12px 24px;
    padding: 0.878477306vw 1.756954612vw;
  }
  .mv__copy-wrap.--pc .mv__copy.--center, .mv__copy-wrap.--pc .mv__copy.--bottom {
    margin-top: 24px;
  }
  .mv__text {
    font-size: 1rem;
    line-height: 1.8;
    padding: 5.8565153734vw 0px 2.3426061493vw 2.9282576867vw;
  }
}
/* -------------------------------------------- */
/* お悩み */
/* -------------------------------------------- */
.onayami {
  background-color: #fff;
}

.onayami-list {
  margin-top: -25px;
}
.onayami-list__item {
  padding: 26px 16px 16px;
  width: calc((100% - 15px) / 2);
  border: 1px solid #3D2F23;
  position: relative;
  margin-top: 50px;
}
.onayami-list__icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.onayami-list__heading-image {
  margin: 0 auto;
  margin-top: 18px;
  display: block;
}
.onayami-list__desc {
  font-size: 0.875rem;
  margin-top: 1em;
}
.onayami-list__tag {
  width: 80px;
  padding: 7px 8px 6px;
  background-color: #fff;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%);
}

.onayami-bottom-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 20px;
}

@media (min-width: 765px) {
  .onayami-list {
    margin-top: -50px;
  }
  .onayami-list__item {
    padding: 52px 24px 24px;
    width: calc((100% - 82px) / 3);
    margin-top: 100px;
  }
  .onayami-list__icon {
    width: 120px;
    height: 120px;
  }
  .onayami-list__heading {
    font-size: 2.25rem;
    margin-top: 24px;
  }
  .onayami-list__desc {
    font-size: 1rem;
  }
  .onayami-list__tag {
    width: 160px;
    padding: 14px 16px 12px;
    background-color: #fff;
  }
  .onayami-bottom-text {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 40px;
  }
}
/* -------------------------------------------- */
/* middle-banners */
/* -------------------------------------------- */
.middle-banners {
  padding: 32px 0;
}

.middle-banners-list__item {
  width: 100%;
  height: 25.3333333333vw;
}
.middle-banners-list__item:last-child {
  margin-top: 20px;
}
.middle-banners-list__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.middle-banners-list__bgimage {
  position: relative;
}
.middle-banners-list__cont {
  padding: 36px 20px;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.middle-banners-list__text {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  z-index: 11;
  position: relative;
}

@media (min-width: 765px) {
  .middle-banners {
    padding: 80px 0;
  }
  .middle-banners-list {
    display: flex;
    justify-content: space-between;
  }
  .middle-banners-list__item {
    width: calc((100% - 40px) / 2);
    height: 200px;
  }
  .middle-banners-list__item:last-child {
    margin-top: 0px;
  }
  .middle-banners-list__text {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
/* -------------------------------------------- */
/* news */
/* -------------------------------------------- */
.news__wrap {
  padding: 0 20px;
}

@media (min-width: 765px) {
  .news__wrap {
    padding: 0 40px;
  }
}
/* -------------------------------------------- */
/* compare */
/* -------------------------------------------- */
.compare-list__heading {
  border-radius: 100px;
  color: #fff;
  width: 200px;
  padding: 6px 0px;
  line-height: 1;
  font-size: 0.875rem;
  margin: 0 auto;
  text-align: center;
}
.compare-list__image {
  width: 100%;
  height: 26.6666666667vw;
  max-height: 200px;
  margin-top: 20px;
}
.compare-list__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.compare-list__list {
  margin-top: 20px;
}
.compare-list__list.mt32 {
  margin-top: 32px;
}
.compare-list__sub-heading {
  font-size: 0.8125rem;
  font-weight: 700;
  text-align: center;
  padding: 8px 0;
}
.compare-list__desc {
  font-size: 0.875rem;
  margin-top: 1em;
}

.compare-list__item.--left .compare-list__heading {
  background-color: #A07907;
}
.compare-list__item.--left .compare-list__sub-heading {
  border-top: 2px dashed #A07907;
  border-bottom: 2px dashed #A07907;
}

.compare-list__item.--right {
  margin-top: 40px;
}
.compare-list__item.--right .compare-list__heading {
  background-color: #23C7CE;
}
.compare-list__item.--right .compare-list__sub-heading {
  border-top: 2px dashed #23C7CE;
  border-bottom: 2px dashed #23C7CE;
}

.compare-wide-image__wrap {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 40px;
}

.compare-wide-image {
  width: 50%;
}

.compare-copy {
  margin-top: 40px;
}
.compare-copy__heading {
  color: #97C736;
  font-size: 1rem;
  letter-spacing: 0;
}
.compare-copy__heading:not(:first-child) {
  margin-top: 32px;
}
.compare-copy__desc {
  font-size: 0.875rem;
  margin-top: 12px;
  letter-spacing: 0.05em;
}
.compare-copy__desc.--first {
  line-height: 1.65;
  font-size: 0.875rem;
  letter-spacing: 0;
}
.compare-copy__strong {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375;
}

@media (min-width: 765px) {
  .compare-list {
    display: flex;
    justify-content: space-between;
  }
  .compare-list__item {
    width: calc((100% - 40px) / 2);
  }
  .compare-list__heading {
    width: 356px;
    padding: 12px 0px;
    font-size: 1.5rem;
  }
  .compare-list__image {
    margin-top: 40px;
  }
  .compare-list__list {
    margin-top: 24px;
  }
  .compare-list__list.mt32 {
    margin-top: 40px;
  }
  .compare-list__sub-heading {
    font-size: 1rem;
    padding: 16px 0;
  }
  .compare-list__desc {
    font-size: 1rem;
    padding: 0 18px;
    min-height: 82px;
  }
  .compare-list__item.--right {
    margin-top: 40px;
    margin-top: 0;
  }
  .compare-wide-image__wrap {
    margin-top: 80px;
  }
  .compare-copy {
    margin-top: 80px;
  }
  .compare-copy__heading {
    font-size: 2rem;
    letter-spacing: 0.05em;
  }
  .compare-copy__heading:not(:first-child) {
    margin-top: 40px;
  }
  .compare-copy__desc {
    font-size: 1rem;
    margin-top: 24px;
    line-height: 1.8;
    letter-spacing: 0.05em;
  }
  .compare-copy__desc.--first {
    line-height: 2.4;
    font-size: 1rem;
    letter-spacing: 0.05em;
  }
  .compare-copy__strong {
    font-size: 1.5rem;
    line-height: 1.6;
  }
}
/* -------------------------------------------- */
/* feature */
/* -------------------------------------------- */
.feature__copy {
  font-size: 0.875rem;
}
.feature__bottom {
  font-size: 0.875rem;
  margin-top: 12px;
}

.feature-card {
  border: 2px solid #23C7CE;
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;
}
.feature-card__wrap {
  margin-top: 32px;
}
.feature-card__image {
  margin: 16px auto 0;
  width: 69.3333333333vw;
  height: 42.9333333333vw;
}
.feature-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.feature-card__desc {
  font-size: 0.75rem;
  margin-top: 16px;
}

@media (min-width: 765px) {
  .feature__copy {
    font-size: 1rem;
  }
  .feature__bottom {
    font-size: 1rem;
    margin-top: 20px;
  }
  .feature-card {
    padding: 24px;
    margin-top: 40px;
  }
  .feature-card__wrap {
    margin-top: 40px;
  }
  .feature-card__image {
    margin: 0;
    width: 190px;
    height: 120px;
  }
  .feature-card__desc {
    font-size: 1rem;
    margin-top: 0px;
    line-height: 1.6;
    margin-right: 40px;
    flex: 1;
  }
  .feature-card__cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 24px;
  }
}
/* -------------------------------------------- */
/* delicious */
/* -------------------------------------------- */
.delicious__question {
  color: #97C736;
  font-size: 1rem;
}
.delicious__answer {
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 20px;
}
.delicious__reason {
  font-size: 0.875rem;
  margin-top: 20px;
}

.delicious-intro {
  border: 1px solid #97C736;
  background-color: #fff;
  padding: 16px;
  min-width: 315px;
  margin: 32px 10px 0;
}
.delicious-intro__heading {
  font-size: 0.75rem;
  padding-bottom: 16px;
  color: #97C736;
  border-bottom: 2px dashed #97C736;
  line-height: 1;
}
.delicious-intro__image {
  margin: 16px auto 0;
  width: 46.9333333333vw;
  height: 21.8666666667vw;
}

.delicious-intro-table__item {
  margin-top: 12px;
  font-size: 0.625rem;
  width: 100%;
}
.delicious-intro-table .table-left {
  min-width: 88px;
  margin-right: 16px;
}
@media (min-width: 765px) {
  .delicious__question {
    font-size: 2rem;
  }
  .delicious__answer {
    font-size: 1.5rem;
    margin-top: 24px;
  }
  .delicious__reason {
    font-size: 1rem;
    margin-top: 40px;
  }
  .delicious-intro {
    padding: 40px;
    margin: 40px 40px 0;
    display: flex;
  }
  .delicious-intro__cont {
    width: 33.6749633968vw;
    margin-right: 1.756954612vw;
    flex: auto;
  }
  .delicious-intro__heading {
    font-size: 1.5rem;
    padding-bottom: 16px;
  }
  .delicious-intro__image {
    margin: 0;
    height: 100%;
    width: 26.0614934114vw;
    flex: auto;
  }
  .delicious-intro-table__item {
    margin-top: 12px;
    font-size: 1rem;
  }
  .delicious-intro-table .table-left {
    min-width: 136px;
    margin-right: 40px;
  }
}
/* -------------------------------------------- */
/* cta */
/* -------------------------------------------- */
.mask {
  display: block;
  line-height: 0;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.bgImage::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 8px;
  transition: background-color 0.4s;
}

.l-image {
  width: 50%;
  height: 23.4666666667vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.l-image .mask {
  border-radius: 0;
}
.l-image__text {
  color: #fff;
  border: 1px solid #fff;
  font-size: clamp(12px, 2vw, 32px);
  padding: 5px 12px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  z-index: 2;
}
.l-image.bgImage::before {
  border-radius: 0px;
}

.wide-image {
  position: relative;
}
.wide-image::before {
  border-radius: 8px;
}
.wide-image__wrap {
  margin-top: 80px;
}
.wide-image__text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.wide-image__text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 72px 24px;
}

.s-image {
  width: calc((100% - 82px) / 3);
  margin-top: 40px;
  position: relative;
}
.s-image::before {
  border-radius: 8px;
}
.s-image__text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.s-image__wrap {
  padding-bottom: 128px;
}
.s-image__text {
  color: #fff;
  padding: 38px 24px;
  font-size: 1rem;
}

@media (min-width: 765px) {
  .l-image {
    height: 23.4260614934vw;
  }
  .l-image__text {
    padding: 0.75em 1.25em;
  }
}
/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer__btn-wrap {
  padding: 32px 0;
}
.footer__link-wrap {
  background-color: #3D2F23;
  color: #fff;
  padding: 20px 30px;
}

.footer__link--left {
  font-weight: 500;
  width: 50%;
}
.footer__link--center {
  display: none;
}
.footer__link--right {
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
}

.footer-logo {
  width: 100%;
}
.footer-logo img {
  width: 113px;
}

.footer-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.fb-icon {
  margin-right: 8px;
}

.footer-info {
  font-size: 0.625rem;
  transform: scale(0.7);
  transform-origin: 0%;
  margin-top: 12px;
}

.footer-copy {
  font-size: 0.625rem;
  transform: scale(0.6);
  transform-origin: 100%;
  margin-top: auto;
}

@media (min-width: 765px) {
  .footer__btn-wrap {
    padding: 32px 0 0px;
  }
  .footer__link-wrap {
    padding: 40px 40px;
  }
  .footer__link--left {
    width: 26.4%;
    padding-right: 1%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  .footer__link--center {
    width: 60%;
    display: block;
    font-size: 0.875rem;
    font-size: clamp(12px, 1vw, 14px);
    flex: 1;
  }
  .footer__link--right {
    width: 10%;
    position: relative;
  }
  .footer-logo img {
    width: 226px;
  }
  .footer-info {
    font-size: 0.6875rem;
    transform: scale(1);
    margin-top: 24px;
  }
  .footer-nav-list__item:not(:first-child) {
    margin-top: 24px;
  }
  .footer-sns-wrap {
    display: flex;
  }
  .footer-icon {
    width: 30px;
    height: 30px;
  }
  .footer-copy {
    font-size: 0.6875rem;
    transform: scale(1);
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media (min-width: 992px) {
  .footer__link--center {
    font-size: 0.875rem;
  }
  .footer-icon {
    width: 40px;
    height: 40px;
  }
  .fb-icon {
    margin-right: 16px;
  }
}
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- *//*# sourceMappingURL=styles.css.map */