@charset "UTF-8";
*{
  box-sizing: border-box;
}


/*----- common -----*/ 
@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #3D2F23;
$white: #fff;
$cream: #fffaeb;
$pink: #ea689a;
$yellow: #FAC017;
$skyblue: #23C7CE;
$skyblueHover: #1DB4BA;
$green: #97C736;
$greenHover: #83AC32;
$gray: #ccc;
$brown: #A07907;

/* -------------------------------------------- */
/* ヘッダー */
/* -------------------------------------------- */
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  &__wrap{
    height: 100%;
    padding-left: 20px;
    background-color: #fff;
  }
  
  &__btn-wrap{
    display: flex;
    height: 100%;
  }
}

//----- ロゴ -----
.header-logo{

  &__link{
    width: 100%;
    line-height: 1;
  }

  &__image{
    width: 125px;
  }
}

//-------- headerのボタン ------
.header-btn{
  padding: 10px 0;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  
  //ボタンテキスト
  &__text{
    font-size: rem(10);
    transform: scale(0.8);
    display: inline-block;
  }
  
  //アイコン
  &__icon{
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 14px;
    height: 14px;
  }
}

//資料請求のボタン
.siryou-btn{
  border-right: 1px #fff solid;
  background-color: $skyblue;
  color: $white;
  padding: 10px 3px;
}

//お問合せのボタン
.contact-btn{
  border-right: 1px #fff solid;
  background-color: $green;
  color: $white;
}

// ----------- ハンバーガーメニュー  ------------
.burger{
  width: 50px;
  position: relative;
  cursor: pointer;
  z-index: 3;
  background-color: $textColor;
}

.bar{
  width: 46%;
  height: 1.5px;
  border-radius: 6px;
  background-color: $white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: transform .4s;
  display: inline-block;

  &:nth-of-type(1){
    top:11px;	
  }

  &:nth-of-type(2){
    top:18px;	
  }
  
  &:nth-of-type(3){
    top:25px;	

    &::after {
      content:"Menu";
      position: absolute;
      top: 3px;
      left: -4px;
      color: $white;
      font-size: rem(10);
      transform: scale(0.8);
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

.burger.active .bar:nth-of-type(2){
  opacity: 0;
}

.burger.active .bar:nth-of-type(1){
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 40%;
}

.burger.active .bar:nth-of-type(3){
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 40%;

  &::after{
    content:"Close";
    transform: scale(0.8) translateY(0) rotate(-45deg);
    top:4px;
    left:4px;
  }
}

@media (min-width: 765px) {
  .header{

    &__wrap{
      padding-left: 40px;
    }
  }

  //-----ロゴ -----
  .header-logo{

    &__image{
      width: 230px;
    }
  }

  //-------- headerのボタン ------
  .header-btn{
    padding: 20px 16px;
    height: 100px;
    
    //ボタンテキスト
    &__text{
      font-size: rem(16);
      transform: scale(1);
    }
      //アイコン
    &__icon{
      width: 28px;
      height: 28px;
      margin-bottom: 16px;
    }
  }

  //お問合せのボタン
  .contact-btn{
    border-right: none;
  }

  // ----------- ハンバーガーメニュー  ------------
  .burger{
    width: 100px;
  }

  .bar{
    width: 46%;
    height: 3px;
    left: 50%;
  
    &:nth-of-type(1){
      top:22px;
    }
  
    &:nth-of-type(2){
      top:36px;
    }
    
    &:nth-of-type(3){
      top:50px;
  
      &::after {
        top: 8px;
        left: -4px;
        font-size: rem(16);
        transform: scale(1);
      }
    }
  }

  .burger.active .bar:nth-of-type(1){
    width: 40%;
  }
  
  .burger.active .bar:nth-of-type(3){
    width: 40%;
  
    &::after{
      transform: scale(1) translateY(0) rotate(-45deg);
      top:12px;
      left:20px;
    }
  }

}

@media (min-width: 992px){
  .burger{
    display: none;
  }
}

/* -------------------------------------------- */
/* ナビメニュー */
/* -------------------------------------------- */
//----- スマホ用メニュー -----
.sp-nav{
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: -200%;
  left: 0;
  transition: top .4s;
  z-index: -1;

  &.active{
    top:50px;
  }
}

.sp-nav-list{
  font-size: rem(12);
  margin-top: 10px;

  &__item{
    padding: 17px 20px;
    line-height: 1;
    border-bottom: 1px solid $gray;
    
    &:first-child{
      border-top: 1px solid $gray;
    }
  }
}

//-------- スマホ用メニューのボタン ------
.spMenuBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 1;
  width: 49%;
  max-width: 300px;
  
  &.siryou-btn{
    padding: 12px 32px;
  }
  
  &.contact-btn{
    padding: 14px 15px;
  }

  //2つのボタンの枠
  &__wrap{
    padding: 0px 20px;
    margin-top: 32px;

    .spMenuBtn:first-child{
      margin-right: 20px;
    }
  }

  //アイコン
  &__icon{
    margin-right: 8px;
    width: 20px;
  }

  //テキスト
  &__text{
    font-size: rem(16);
    white-space: nowrap;
  }
}

//----- PC用ナビ -----
.pc-nav{
  display: none;
  margin-right: 16px;
}

.pc-nav__btnWrap{
  display: flex;
  justify-content: flex-end;
}

//ナビリスト
.pc-nav-list{
  font-weight: 700;
  margin-right: -16px;
  margin-top: 20px;

  &__item{
    padding: 0 17px;
    position: relative;
    font-size: rem(14);

    &:not(:last-child)::after{
      content: "";
      width: 18px;
      height: 1px;
      display: block;
      position: absolute;
      top: 50%;
      right: -10px;
      background-color: $green;
      transform:rotate(140deg)
    }
  }

  &__link{
    font-size: clamp(0.75rem, 0.589rem + 0.34vw, 0.875rem);
  }
}

@media (min-width: 765px) {
  //----- スマホ用メニュー -----
  .sp-nav{

    &.active{
      top: 100px;
    }
  }

  .sp-nav-list{
    font-size: rem(16);
    margin-top: 16px;

    &__item{
      padding: 24px 40px;
    }
  }

  //-------- スマホ用メニューのボタン ------
  .spMenuBtn{
    
    &.siryou-btn{
      padding: 12px 32px;
    }
    
    &.contact-btn{
      padding: 20px 15px;
    }

    //2つのボタンの枠
    &__wrap{
      padding: 0px 20px;
      margin-top: 64px;

      .spMenuBtn:first-child{
        margin-right: 40px;
      }
    }

    //アイコン
    &__icon{
      margin-right: 12px;
      width: 28px;
    }
  }
}

@media (min-width: 992px){
  //----- スマホ用メニュー -----
  .sp-nav{
    display: none;
  }

  //----- PC用ナビ -----
  .pc-nav{
    display: block;
  }

}

/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv{
  padding: 70px 20px 52px;
  position: relative;

  // 背景
  &::before{
    content: "";
    width: 100%;
    height: 74.3%;
    position: absolute;
    // top: 120px;
    top: 25.7%;
    left: 0;
    z-index: -1;
    display: block;
    background: url(../images/24771547_l.png) center;
  }

  &__image{
    width: 100%;
  }

  &__copy{
    background-color: $skyblue;
    color:$white;
    font-weight: 500;
    line-height: 1;
    font-size: rem(22);
    font-size: clamp(22px,3vw,40px);
  }

  &__copy-wrap{
    
    &.--sp{
      margin-top: -60px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      .mv__copy{
        padding: 5px 8px;
        display: inline-block;
  
        &.--bottom{
          margin-top: 12px;
        }
      }
    }

    &.--pc{
      display: none;
    }
  }
  

  &__text{
    font-size: rem(12);
    font-size: clamp(12px, 3vw,16px);
    padding: 32px 0;
  }
}

@media (min-width: 765px) {
  .mv{
    padding: 110px 40px 40px;
    position: relative;
  
    // 背景
    &::before{
      top: 54.5%;
      height: 45.5%;
      background: url(../images/mv-bg-pc.png) center/cover no-repeat;
    }

    &__text-wrap{
      width: calc(408/1366*100vw);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: calc(40/1366*100vw) 0 calc(10/1366*100vw);
    }
  
    .pc-cont{
      display: flex;
    }

    &__image{
      width: calc(880/1366*100vw);
    }

    &__copy{

    }
  
    &__copy-wrap{
      
      &.--sp{
        display: none;
      }
  
      &.--pc{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -22px;

        .mv__copy{
          padding: 12px 24px;
          padding: calc(12/1366*100vw) calc(24/1366*100vw);
    
          &.--center,
          &.--bottom{
            margin-top: 24px;
          }
        }
      }
    }
  
    &__text{
      font-size: rem(16);
      line-height: 1.8;
      padding: calc(80/1366*100vw) 0px calc(32/1366*100vw) 40px;
    }
  }

}

/* -------------------------------------------- */
/* お悩み */
/* -------------------------------------------- */
.onayami{


}

.onayami-list{
  margin-top: -25px;
  
  &__item{
    padding: 26px 16px 16px;
    width: calc((100% - 15px)/2);
    border: 1px solid $textColor;
    position: relative;
    margin-top: 50px;
  }

  //アイコン
  &__icon{
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  //見出し
  &__heading{
    color:$green;
    font-size: rem(18);
    text-align: center;
    margin-top: 10px;
  }

  //テキスト
  &__desc{
    font-size: rem(12);
    margin-top: 1em;
  }

  //お悩みのタグ
  &__tag{
    width: 80px;
    padding: 7px 8px 6px;
    background-color: $white;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%);
  }
}

.onayami-bottom-text{
  text-align: center;
  font-size: rem(16);
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 20px;
}

@media (min-width: 765px) {
  .onayami-list{
    margin-top: -50px;
    
    &__item{
      padding: 52px 24px 24px;
      width: calc((100% - 82px)/3);
      margin-top: 100px;
    }
  
    //アイコン
    &__icon{
      width: 120px;
      height: 120px;
    }
  
    //見出し
    &__heading{
      font-size: rem(36);
      margin-top: 24px;
    }
  
    //テキスト
    &__desc{
      font-size: rem(16);
    }
  
    //お悩みのタグ
    &__tag{
      width: 160px;
      padding: 14px 16px 12px;
      background-color: $white;
    }
  }

  .onayami-bottom-text{
    font-size: rem(24);
    font-weight: 700;
    margin-top: 40px;
  }

}

/* -------------------------------------------- */
/* middle-banners */
/* -------------------------------------------- */
.middle-banners{
  padding: 32px 0;
}

.middle-banners-list{

  &__item{
    width: 100%;
    position: relative;
    height: calc(88 / 375 *100vw);

    &:last-child{
      margin-top: 20px;
    }
  }

  &__image{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &.--voice{
      background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3) ), url(../images/m-banner-voice-sp.jpg) center/cover no-repeat;
    }

    &.--aboutus{
      background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3) ), url(../images/m-banner-aboutus-sp.jpg) center/cover no-repeat;
    }
  }

  &__cont{
    padding: 36px 20px;
    }

  &__text{
    color:$white;
    font-size: rem(16);
    font-weight: 700;
    line-height: 1;
  }
}

@media (min-width: 765px) {
  .middle-banners{
    padding: 80px 0;
  }

  .middle-banners-list{
    display: flex;
    justify-content: space-between;

    &__item{
      width: calc((100% - 40px) / 2);
      height: auto;

      &:last-child{
        margin-top: 0px;
      }
    }
    &__image{
      &.--voice{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3) ), url(../images/m-banner-voice-pc.jpg) center/cover no-repeat;
      }

      &.--aboutus{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3) ), url(../images/m-banner-aboutus-pc.jpg) center/cover no-repeat;
      }
    }

    &__cont{
      padding: 82px 24px; 
      }

    &__text{
      font-size: rem(24);
      line-height: 1.5;
    }
  }

}

/* -------------------------------------------- */
/* news */
/* -------------------------------------------- */
.news{
  &__wrap{
    padding: 0 20px;
  }
}

@media (min-width: 765px) {
  .news{
    &__wrap{
      padding: 0 40px;
    }
  }

}

/* -------------------------------------------- */
/* compare */
/* -------------------------------------------- */
.compare{

}

.compare-list{

  &__heading{
    border-radius: 100px;
    color:$white;
    width: 178px;
    padding: 6px 0;
    font-size: rem(12);
    margin: 0 auto;
    // white-space: nowrap;
    text-align: center;
  }

  &__image{
    width: 100%;
    height: calc(100 / 375 *100vw);
    max-height: 200px;
    margin-top: 20px;
    
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__list{
    margin-top: 20px;
  }

  &__list.mt32{
    margin-top: 32px;
  }

  &__sub-heading{
    font-size: rem(12);
    font-weight: 700;
    text-align: center;
    padding: 8px 0;
  }
  
  &__desc{
    font-size: rem(12);
    margin-top: 1em;
  }
}

//左側
.compare-list__item.--left{

  .compare-list{
    &__heading{
      background-color: $brown;
    }

    &__sub-heading{
      border-top: 2px dashed $brown;
      border-bottom: 2px dashed $brown;
    }
  }
}

//右側
.compare-list__item.--right{
  margin-top: 40px;

  .compare-list{
    &__heading{
      background-color: $skyblue;
    }

    &__sub-heading{
      border-top: 2px dashed $skyblue;
      border-bottom: 2px dashed $skyblue;
    }
  }
}

//横並びの画像
.compare-wide-image__wrap{
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 40px;
}

.compare-wide-image{
  width: 50%;
}

//壱番下のコピー
.compare-copy{
  margin-top: 40px;

  &__heading{
    color: $green;
    font-size: rem(16);
    letter-spacing: 0;

    &:not(:first-child){
      margin-top: 32px;
    }
  }
  
  &__desc{
    font-size:rem(12);
    margin-top: 12px;
    letter-spacing: 0.05em;
    
    &.--first{
      line-height: 1.65;
      font-size:rem(10);
      letter-spacing: 0;
    }
  }
  
  &__strong{
    font-size:rem(16);
    font-weight: 700;
    line-height: 1.375;
  }
}


@media (min-width: 765px) {

  .compare{

  }
  
  .compare-list{
    display: flex;
    justify-content: space-between;
  
    &__item{
      width: calc((100% - 40px) /2 );
    }
  
    &__heading{
      width: 356px;
      padding: 12px 0px;
      font-size: rem(24);
    }
  
    &__image{
      margin-top: 40px;
      
    }
  
    &__list{
      margin-top: 24px;
    }
  
    &__list.mt32{
      margin-top: 40px;
    }
  
    &__sub-heading{
      font-size: rem(16);
      padding: 16px 0;
    }
    
    &__desc{
      font-size: rem(16);
      padding: 0 18px;
      min-height: 82px;
    }
  }

  
  //左側
  .compare-list__item.--left{

  }
  
  //右側
  .compare-list__item.--right{
    margin-top: 40px;
    margin-top: 0;
  }


  //横並びの画像
  .compare-wide-image__wrap{
    margin-top: 80px;
  }


  //壱番下のコピー
  .compare-copy{
    margin-top: 80px;

    &__heading{
      font-size: rem(32);
      letter-spacing: 0.05em;

      &:not(:first-child){
        margin-top: 40px;
      }
    }
    
    &__desc{
      font-size:rem(16);
      margin-top: 24px;
      line-height: 1.8;
      letter-spacing: 0.05em;
      
      &.--first{
        line-height: 2.4;
        font-size:rem(16);
        letter-spacing: 0.05em;
      }
    }
    
    &__strong{
      font-size:rem(24);
      line-height: 1.6;
    }
  }

}

/* -------------------------------------------- */
/* feature */
/* -------------------------------------------- */
.feature{
  &__copy{
    font-size: rem(12);
  }
  
  &__bottom{
    font-size: rem(12);
    margin-top: 12px;
  }
}

.feature-card{
  border: 2px solid $skyblue;
  border-radius: 8px;
  padding: 16px;
  margin-top: 20px;

  &__wrap{
    margin-top: 32px;
  }

  &__image{
    margin: 16px auto 0;
    width: calc(260 / 375 *100vw);
    height: calc(161 / 375 *100vw);

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__desc{
    font-size: rem(12);
    margin-top: 16px;
  }
}

@media (min-width: 765px) {
  .feature{
    &__copy{
      font-size: rem(16);
    }

    &__bottom{
      font-size: rem(16);
      margin-top: 20px;
    }
  }
  
  .feature-card{
    padding: 24px;
    margin-top: 40px;
  
    &__wrap{
      margin-top: 40px;
    }
  
    &__image{
      margin: 0;
      width: 190px;
      height: 120px;
    }
  
    &__desc{
      font-size: rem(16);
      margin-top: 0px;
      line-height: 1.6;
      margin-right: 40px;
      flex:1;
    }

    //pcのflex用
    &__cont{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: 24px;
    }
  }


}

/* -------------------------------------------- */
/* delicious */
/* -------------------------------------------- */
.delicious{
  &__question{
    color:$green;
    font-size: rem(16);
  }

  &__answer{
    font-weight: 700;
    font-size: rem(12);
    margin-top: 20px;
  }
  
  &__reason{
    font-size: rem(12);
    margin-top: 20px;
  }
}

//商品の紹介
.delicious-intro{
  border: 1px solid $green;
  background-color: $white;
  padding: 16px;
  min-width: 315px;
  margin: 32px 10px 0;

  &__heading{
    font-size: rem(12);
    padding-bottom: 16px;
    color: $green;
    border-bottom: 2px dashed $green;
    line-height: 1;
  }

  &__image{
    margin: 16px auto 0 ;
    width: calc(176 / 375 *100vw);
    height: calc(82 / 375 *100vw);
  }
}

.delicious-intro-table{
  //表の行
  &__item{
    margin-top: 12px;
    font-size: rem(10);
    width: 100%;
  }

  //左側のラベル
  .table-left{
    min-width: 88px;
    margin-right: 16px;
  }
  
  //右側のラベル
  .table-right{

  }
}

@media (min-width: 765px) {
  .delicious{
    &__question{
      font-size: rem(32);
    }
  
    &__answer{
      font-size: rem(24);
      margin-top: 24px;
    }
    
    &__reason{
      font-size: rem(16);
      margin-top: 40px;
    }
  }
  
  //商品の紹介
  .delicious-intro{
    padding: 40px;
    margin: 40px 40px 0;
    display: flex;

    &__cont{
      width: calc(460 / 1366 *100vw);
      margin-right: calc(24 / 1366 *100vw);
      flex: auto;
    }
  
    &__heading{
      font-size: rem(24);
      padding-bottom: 16px;
    }
  
    &__image{
      margin: 0;
      height: 100%;
      width: calc(356 / 1366 *100vw);
      flex: auto;
    }
  
  }

  .delicious-intro-table{
    //表の行
    &__item{
      margin-top: 12px;
      font-size: rem(16);
    }
  
    //左側のラベル
    .table-left{
      min-width: 136px;
      margin-right: 40px;
    }
    
    //右側のラベル
    .table-right{

    }
  }

}

/* -------------------------------------------- */
/* cta */
/* -------------------------------------------- */
.cta{

}

//hoverで拡大用
.mask{
  display: block;
  line-height: 0;
  overflow: hidden;
}

.bgImage{
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

//大きいイメージ
.l-image{
  width: 50%;
  height: calc(88/375*100vw);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__text{
    color:$white;
    border: 1px solid $white;
    font-size: clamp(12px,2vw,32px);
    padding: 5px 12px;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    z-index: 2;
  }
}


//横長のイメージ
.wide-image{
  position: relative;

  &::before{
    border-radius: 8px;
  }
  
  &__wrap{
    margin-top: 80px;
  }

  &__text-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  &__text{
    color:$white;
    font-size: rem(24);
    font-weight: 700;
    padding: 72px 24px;
  }
}

//小さいイメージ
.s-image{
  width: calc((100% - 41px )/3);
  margin-top: 40px;
  position: relative;
  &::before{
    border-radius: 8px;
  }

  &__text-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  &__wrap{
    padding-bottom: 128px;
  }

  &__text{
    color:$white;
    padding: 38px 24px;
    font-size: rem(16);
  }
}


@media (min-width: 765px) {
  .cta{

  }

  //大きいイメージ
  .l-image{
    height: calc(320/1366*100vw);

    &__text{
      padding: 0.75em 1.25em;
    }
  }
}

/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{
  &__btn-wrap{
    padding: 32px 0 96px;
  }

  &__link-wrap{
    background-color: $textColor;
    color:$white;
    padding: 20px 30px;
  }
}

.footer__link{
  &--left{
    font-weight: 500;
    width: 50%; 
  }
  
  &--center{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    display: none;
    padding-left: 16px;
    
  }
  
  &--right{
    align-items: flex-end;
    justify-content: space-between;
    width: 50%;
  }
}

.footer-logo{
  width: 113px;
}

.footer-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
}

.fb-icon{
  margin-right: 8px;
}

.footer-info{
  font-size: rem(10);
  transform: scale(0.7);
  transform-origin: 0%;
  margin-top: 12px;
}

.footer-copy{
  font-size: rem(10);
  transform: scale(0.6);
  transform-origin: 100%;
  white-space: nowrap;
}


@media (min-width: 765px) {
  .footer{
    &__btn-wrap{
      padding: 32px 0 40px;
    }
  
    &__link-wrap{
      padding: 40px 40px;
    }
  }
  
  .footer__link{
    &--left{
      width: auto;
      width: 27.6%;
      // margin-right: 64px;
    }
    
    &--center{
      width: auto;
      width: 59%;
      display: block;
      font-size: rem(14);
      flex: auto;
      border: 1px solid #fff;
    }
    
    &--right{
      width: auto;
      width: 13.3%;
      position: relative;
    }
  }
  
  .footer-logo{
    width: 226px;
  }

  .footer-info{
    font-size: rem(14);
    transform: scale(1);
    margin-top: 24px;
  }

  .footer-link-title{
    margin-right: 64px;
  }

  .footer-nav-list{
    margin-right: 64px;

    &__item{
      &:not(:first-child){
        margin-top: 24px;
      }
    }
  }

  .footer-icon{
    width: 40px;
    height: 40px;
  }
  
  .fb-icon{
    margin-right: 16px;
  }
  
  .footer-copy{
    font-size: rem(12);
    transform: scale(1);
    position: absolute;
    right: 0;
    bottom: 0;
  }

}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}






