@charset "UTF-8";
*{
  box-sizing: border-box;
}


/*----- common -----*/ 
@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #3D2F23;
$white: #fff;
$cream: #fffaeb;
$pink: #ea689a;
$yellow: #FAC017;
$skyblue: #23C7CE;
$skyblueHover: #1DB4BA;
$green: #97C736;
$greenHover: #83AC32;
$gray: #ccc;
$brown: #A07907;

body {
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, Verdana,sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(14);
  letter-spacing: 0.05em;
  color: $textColor;
  background-color: #fff;
}

@media (min-width: 765px) {

  body {
    font-size: rem(16);
  }

}

/* -------------------------------------------- */
/* 喜びの声 */
/* -------------------------------------------- */
.voice{

}

.voice-list__image-wrap{
  float: right;
  width: 44.8%;
  margin-top: 32px;
  display: block;
  margin-left: 12px;
}

.voice-list__image:not(:first-child){
  margin-top: 20px;
}

@media (min-width: 765px) {
  .voice-list__image-wrap{
    width: 32.6%;
    margin-top: 40px;
    margin-left: 20px;
  }

  .voice-list__image:not(:first-child){
    margin-top: 40px;
  }
}


/* -------------------------------------------- */
/* 流れ */
/* -------------------------------------------- */
.voice-flow{

}

.voice-flow-list{
  margin-top: 32px;

  &__item:not(:first-child){
    margin-top: 20px;
  }
}


@media (min-width: 765px) {
  .voice-flow{

  }

  .voice-flow-list{
    margin-top: 40px;
  
    &__item:not(:first-child){
      margin-top: 40px;
    }
  }
  
}



/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */

@media (min-width: 765px) {


}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}
