@charset "UTF-8";
*{
  box-sizing: border-box;
}


/*----- common -----*/ 
@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #3D2F23;
$white: #fff;
$cream: #fffaeb;
$pink: #ea689a;
$yellow: #FAC017;
$skyblue: #23C7CE;
$skyblueHover: #1DB4BA;
$green: #97C736;
$greenHover: #83AC32;
$gray: #ccc;
$brown: #A07907;

body {
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Arial, Verdana,sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(14);
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $textColor;
  background-color: #fff;
}

@media (min-width: 765px) {

  body {
    font-size: rem(16);
  }

}


/* -------------------------------------------- */
/* zenkokuの声 */
/* -------------------------------------------- */
.zenkoku-voice{
  &__wrap{
    padding: 16px;

    &:not(:first-child){
      margin-top: 20px;
    }
  }
}

.zenkoku-voice-list{
  margin-top: 32px;
}

.zenkoku-address-list{
  font-size: rem(10);
  text-align: right;
  line-height: 1.6;
  margin-top: 32px;
}

//下部のお客さまの声
.zenkoku-voice-bottom{

  &__wrap{
    padding: 16px;
    font-size: rem(12);
    margin-top: 20px;
  }

  &__name{
    margin-top: 32px;
    font-weight: 700;
  }
  
  &__depart{
    font-weight: 700;
  }
}

@media (min-width: 765px) {
  .zenkoku-voice{
    &__wrap{
      padding: 28px 40px 40px;
  
      &:not(:first-child){
        margin-top: 40px;
      }
    }
  }
  
  .zenkoku-voice-list{
    margin-top: 40px;
  }
  
  .zenkoku-address-list{
    font-size: rem(16);
    margin-top: 40px;
  }
  
  //下部のお客さまの声
  .zenkoku-voice-bottom{
    display: flex;
    justify-content: space-between;
  
    &__wrap{
      padding: 16px;
      padding: 40px 40px 36px;
      font-size: rem(16);
      width: calc((100% - 40px) /2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 40px;
    }

    &__name{
      margin-top: 32px;
      font-weight: 700;
    }
    
    &__depart{
      font-weight: 700;
    }
  }

}

/* -------------------------------------------- */
/* vegetable */
/* -------------------------------------------- */
.vegetable{

}



//3枚のレタス画像
.vegetable-image{
  width: 33.3%;
  flex:1;
}

@media (min-width: 765px) {
  .vegetable{

  }

}

/* -------------------------------------------- */
/* sales-tec */
/* -------------------------------------------- */
.sales-tec{

  &__copy{
    font-weight: 700;
    font-size: rem(12);
    white-space: nowrap;
  }

  &-result{
    font-size: rem(12);
    margin-top: 32px;
  }
}

 //上側のテキスト群
.sales-tec-list{
  font-size: rem(12);
  margin-top: 32px;

  &__item:not(:first-child){
    margin-top: 20px;
  }
}

.zenkoku-step-list{
  margin-top: 32px;

  &__item:not(:first-child){
    margin-top: 20px;
  }

  &__add{
    font-weight: 700;
    margin-top: 20px;
    font-size: rem(12);
  }
}

@media (min-width: 765px) {
  .sales-tec{

    &__copy{
      font-size: rem(24);
      text-align: center;
    }
  
    &-result{
      font-size: rem(16);
      margin-top: 40px;
      line-height: 1.8;
    }
  }
  
  //上側のテキスト群
  .sales-tec-list{
    font-size: rem(16);
    margin-top: 64px;
  
    &__item:not(:first-child){
      margin-top: 40px;
    }
  }
  
  //下側のリスト群
  .zenkoku-step-list{
    margin-top: 64px;
  
    &__item:not(:first-child){
      margin-top: 40px;
    }
  
    &__add{
      margin-top: 40px;
      font-size: rem(16);
      line-height: 1.8;
    }
  }

}


